body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea {font-family: "Microsoft YaHei", \5fae\8f6f\96c5\9ed1, arial, \5b8b\4f53 }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; color: #808588; }
a:hover { color:#00a9e0;text-decoration:none;}
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }
/* -----------------------------初始化------------------------------------ */

html,body{width: 100%;height: 100%; }
#container{width: 100%;min-height: 100%;overflow-x: hidden;position: relative;}
.mainbody{padding: 0;}
.bold_font{ font-weight:bold;   }

.vwicon{background-image: url("../images/icon_all25x25.png");background-repeat: no-repeat; width: 25px; height: 25px;display: block;}
#main_nav_more{ position: fixed;left: 96px;top: 0; width: 0px;height: 100%;background-color: rgb(255,255,255);
z-index: 16;-webkit-transform-origin: 0 0;transform-origin: 0 0;overflow: hidden;
}
#main_nav_more .desktop-searchbox { padding: 30px 25px 20px 25px; }
#main_nav_more .desktop-searchbox .fancy-input {padding: 0 !important;position: relative;border: 1px solid #ccc;height: 36px;border-radius: 3px;width: 200px;}
#main_nav_more .fancy-input span{display: block; width: 25px; float: left; margin:5px 5px 0 5px; cursor: pointer;}
#main_nav_more .fancy-input .input-wrapper-search{float: left; line-height: 36px;}
#main_nav_more .fancy-input .input-wrapper-search .searchformtext{height: 24px; border: 0px; line-height: 24px; width: 150px; }
#main_nav_more .fancy-input .icon-searchglass{width:25px; height: 25px; float: left; background-position:0px -1025px;}
#main_nav_more ul{margin: 0 10px;width: 230px; overflow: hidden;}
#main_nav_more li{ border-bottom:1px solid #dee1e3; overflow: hidden }
#main_nav_more li a{display: block; padding:20px; width: 100%; overflow: hidden;}
#main_nav_more li a span{display: block; float: left;height: 25px; line-height: 25px; padding-left: 10px;}
#main_nav_more li a .nav_size{width: 25px; height: 25px;float: left;}
#main_nav_more li a .icon-car{background-position:0 0; }
#main_nav_more li a:hover .icon-car{background-position:-25px 0; }
#main_nav_more li a .icon-findadealer{background-position:0px -25px; }
#main_nav_more li a:hover .icon-findadealer{background-position:-25px -25px; }
#main_nav_more li a .icon-importer{background-position:0px -50px;}
#main_nav_more li a:hover .icon-importer{background-position:-25px -50px;}
#main_nav_more li a .icon-dealer{background-position:0px -350px;}
#main_nav_more li a:hover .icon-dealer{background-position:-25px -350px;}
#main_nav_more li a .icon-more{background-position:0px -700px;}
#main_nav_more li a:hover .icon-more{background-position:-25px -700px;}

#mobile_nav{display: block; overflow: hidden;}
#mobile_nav .logobox{padding: 5px 20px; height: 60px; width: 120px; float: left;}
#mobile_nav .logobox img{height: 100%;}
#mobile_nav .burger_menu{ float: right; width: 30px;margin: 20px 20px 5px 0; position: relative; height: 30px;}
#mobile_nav .burger_menu .burger_line{height: 3px; width: 100%; background-color: #0099da; position: absolute;left:0; -webkit-transition:all 0.4s linear; }
#mobile_nav .burger_menu .burger_line:nth-child(1){top:0;}
#mobile_nav .burger_menu .burger_line:nth-child(2){top:8px;}
#mobile_nav .burger_menu .burger_line:nth-child(3){top:16px;}
#mobile_nav .burger_menu .hideline{opacity: 0;}
#mobile_nav .burger_menu .rotate{-webkit-transform:rotate(45deg); -webkit-transform-origin: 8px 0}
#mobile_nav .burger_menu .re_rotate{-webkit-transform:rotate(-45deg);-webkit-transform-origin: 0 0}
#main_nav_more{top: 60px;left:100%; width: 100%; position: absolute; height: auto;}
#main_nav_more ul{margin: 0 2%;width: 96%;  overflow: hidden;}
#main_nav_more .desktop-searchbox { padding: 30px 2% 20px 2%;}
#main_nav_more .desktop-searchbox .fancy-input { width: 100%;}
#main_nav_more .mobile_nav_shadow{background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, transparent 100%) repeat scroll 0 0;height: 8px;width: 100%;}
