body {
    overflow-y: scroll
}
#container {
    height: auto;
    overflow-y: auto
}
#compare {
    background-color: #fff
}
#compare .selected-models {
    background-color: #1597d9;
    text-align: center;
    overflow: hidden;
    position: relative
}
#compare .selected-models.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    left: 96px;
    z-index: 10
}
#compare .selected-models.fixed h2 {
    display: none
}
#compare .selected-models.fixed ul {
    margin-top: 20px;
    min-height: 120px
}
#compare .selected-models.fixed ul li .price,
#compare .selected-models.fixed ul li a.btn-testdrive,
#compare .selected-models.fixed ul li a.btn-view-car {
    display: none
}
#compare .selected-models.fixed ul li.car-box {
    height: 120px
}
#compare .selected-models.fixed ul li.car-box .name {
    line-height: 40px;
    margin-top: 0
}
#compare .selected-models.fixed ul .icon {
    top: 40px
}
#compare .selected-models.fixed a.btn-back {
    display: none
}
#compare .selected-models a.btn-close {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 20px;
    right: 20px;
    background: url(../images/dealer-popup-close.png)
}
#compare .selected-models a.btn-back {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../images/icon-h2-arrow.png) center no-repeat;
    display: none
}
#compare .selected-models h2 {
    color: #fff;
    margin-top: 30px;
    font-size: 24px
}
#compare .selected-models ul {
    width: 88%;
    min-height: 180px;
    margin: 5px auto;
    position: relative
}
#compare .selected-models ul li {
    display: inline-block;
    height: 180px;
    text-align: center;
    float: left;
    position: relative
}
#compare .selected-models ul .car-box {
    background: url(../images/compare/car-bg.png) center no-repeat;
    color: #fff;
    -webkit-animation-duration: .5s;
    animation-duration: .5s
}
#compare .selected-models ul .car-box.selected {
    background: 0 0
}
#compare .selected-models ul .car-box.selected a.del {
    display: block
}
#compare .selected-models ul .car-box a.del {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: 70px;
    width: 24px;
    height: 25px;
    background: url(../images/compare/del.png);
    display: none;
    opacity: .9
}
#compare .selected-models ul .car-box a.del:hover {
    opacity: 1
}
#compare .selected-models ul .car-box img.pic {
    max-height: 64px;
    margin-top: 18px;
    max-width: 90%
}
#compare .selected-models ul .car-box div.name {
    font-size: 16px;
    margin: 6px 0
}
#compare .selected-models ul .car-box div.price {
    font-size: 12px
}
#compare .selected-models ul .car-box a.btn-testdrive,
#compare .selected-models ul .car-box a.btn-view-car {
    display: inline-block;
    color: #fff;
    text-decoration: underline;
    background: url(../images/compare/arrow2.png) left center no-repeat;
    padding-left: 16px;
    font-size: 12px;
    line-height: 18px;
    display: none
}
#compare .selected-models ul .car-box.show a.btn-testdrive,
#compare .selected-models ul .car-box.show a.btn-view-car {
    display: inline-block
}
#compare .selected-models ul .icon {
    width: 32px;
    height: 33px;
    background: url(../images/compare/icon1.png) center no-repeat;
    position: absolute;
    top: 68px;
    margin-left: -16px
}
#compare .selected-models ul .add {
    background: url(../images/compare/add.png) center no-repeat;
    right: 0;
    cursor: pointer;
    z-index: 10
}
#compare .selected-models ul.two li {
    width: 50%
}
#compare .selected-models ul.two .icon1 {
    left: 50%
}
#compare .selected-models ul.two .icon2 {
    display: none
}
#compare .selected-models ul.two .three {
    display: none
}
#compare .selected-models ul.three li {
    width: 33%
}
#compare .selected-models ul.three .icon1 {
    left: 33%
}
#compare .selected-models ul.three .icon2 {
    display: block;
    left: 66%
}
#compare .models-list {
    text-align: center;
    position: relative
}
#compare .models-list h2 {
    font-size: 24px;
    margin: 48px 0
}
#compare .models-list ul {
    width: 88%;
    margin: 0 auto;
    overflow: hidden;
    text-align: left
}
#compare .models-list ul li {
    height: 120px;
    cursor: pointer;
    text-align: center;
    margin: 30px 0;
    position: static
}
#compare .models-list ul li.clearfix {
    height: auto;
    margin: 0
}
#compare .models-list ul li.selected {
    background: url(../images/compare/arrow.png) center 152px no-repeat
}
#compare .models-list ul li.selected .this-style {
    display: block
}
#compare .models-list ul li img.pic {
    height: 65px
}
#compare .models-list ul li .name {
    font-size: 18;
    font-weight: 700;
    margin-top: 10px
}
#compare .models-list .this-style {
    width: 100%;
    position: absolute;
    left: 0;
    background-color: #f3f5f6;
    margin-top: 24px;
    display: none
}
#compare .models-list .this-style .price {
    font-size: 12px;
    margin-top: 8px
}
#compare .models-list .this-style ul li {
    height: 120px
}
/*#compare .compare-result{display:none}*/

#compare .compare-result .nav-box {
    position: relative
}
#compare .compare-result .nav-box.fixed {
    position: fixed;
    z-index: 100
}
#compare .compare-result .nav {
    height: 50px;
    background-color: #788087;
    padding: 0 4%
}
#compare .compare-result .nav a {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    color: #000;
    font-size: 16px;
    margin-right: 4%;
    text-decoration: none;
    font-weight: 700
}
#compare .compare-result .nav a.active {
    color: #fff
}
#compare .compare-result .nav-mobile {
    display: none
}
#compare .compare-result a.hide-same {
    padding-left: 30px;
    margin-left: 30px;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    background: url(../images/compare/hide-same.png) no-repeat;
    background-position: left -22px
}
#compare .compare-result a.hide-same.active {
    background-position: left 0
}
#compare .compare-result div.button {
    height: 38px;
    text-align: right;
    line-height: 38px;
    background-color: #f3f5f6;
    padding-right: 27px;
    font-size: 12px
}
#compare .compare-result div.button span {
    display: inline-block;
    margin-right: 24px
}
#compare .compare-result div.button span img {
    width: 12px;
    float: left;
    margin-top: 12px;
    margin-right: 7px
}
#compare .compare-result #result-box {
    overflow: hidden
}
#compare .compare-result #result-box.two table.details td {
    width: 50%
}
#compare .compare-result #result-box.three table.details td {
    width: 33.3%
}
#compare .compare-result #result-box table.details {
    width: 100%
}
#compare .compare-result #result-box table.details tr.bg {
    background-color: #f3f5f6
}
#compare .compare-result #result-box table.details tr td {
    text-align: center;
    font-size: 16px;
    width: 100%;
    padding: 28px 56px
}
#compare .compare-result #result-box table.details tr td img.pic {
    margin-bottom: 26px;
    max-width: 80%
}
#compare .compare-result #result-box table.details tr td p {
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 8px
}
#compare .compare-result #result-box table.details tr td span {
    font-size: 12px;
    color: #a5a4a2;
    display: block
}
#compare .compare-result #result-box table.details tr .config_title {
    position: relative;
    text-align: left;
    font-weight: 700;
    font-size: 20px
}
#compare .compare-result #result-box table.details tr .config_title a {
    width: 0;
    height: 0;
    position: absolute;
    top: 0
}
#compare .compare-result .send-result {
    display: none;
    width: 100%;
    height: 60px;
    background-color: #788087;
    padding-left: 20px;
    padding-right: 110px;
    text-align: left;
    position: relative
}
#compare .compare-result .send-result input {
    margin-top: 10px;
    height: 40px;
    padding: 0 10px;
    background: #fff;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    width: 100%
}
#compare .compare-result .send-result a.submit {
    width: 80px;
    text-align: center;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    background-color: #069BD8;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    position: absolute;
    right: 20px;
    top: 10px
}
#compare .compare-result .send-result a.submit.no-click {
    background-color: #979593;
    color: #fff
}
@media screen and (max-width: 640px) {
    #compare .selected-models.fixed {
        left: 0;
        z-index: 100
    }
    #compare .selected-models.fixed ul {
        margin-top: 20px;
        min-height: 40px
    }
    #compare .selected-models.fixed ul.two {
        min-height: 40px
    }
    #compare .selected-models.fixed ul.two .icon1 {
        top: 8px
    }
    #compare .selected-models.fixed ul.two li.car-box {
        height: 40px;
        background-size: auto 96%
    }
    #compare .selected-models.fixed ul.two li.car-box a.del {
        display: none
    }
    #compare .selected-models.fixed ul li .price,
    #compare .selected-models.fixed ul li a.btn-testdrive,
    #compare .selected-models.fixed ul li a.btn-view-car,
    #compare .selected-models.fixed ul li img.pic {
        display: none
    }
    #compare .selected-models.fixed ul li.car-box {
        height: 40px;
        background-size: auto 100%
    }
    #compare .selected-models.fixed ul li.car-box a.del {
        display: none
    }
    #compare .selected-models.fixed ul .icon {
        top: 40px
    }
    #compare .selected-models a.btn-close {
        display: none
    }
    #compare .selected-models a.btn-back {
        display: inline-block
    }
    #compare .selected-models h2 {
        font-size: 20px;
        height: 50px;
        line-height: 50px;
        margin-top: 0
    }
    #compare .selected-models ul.two {
        margin-top: 10px;
        min-height: 160px
    }
    #compare .selected-models ul.two li {
        width: 50%;
        margin-bottom: 0;
        height: 90px
    }
    #compare .selected-models ul.two li.car-box {
        background-size: 80% auto
    }
    #compare .selected-models ul.two li img.pic {
        width: 80%;
        height: auto
    }
    #compare .selected-models ul.two li .name {
        font-size: 16px;
        font-weight: 700;
        margin-top: 10px;
        margin-bottom: 0
    }
    #compare .selected-models ul.two li.one {
        background-position: 0 center
    }
    #compare .selected-models ul.two li.two {
        background-position: right center
    }
    #compare .selected-models ul.two li a.del {
        margin-left: 40px
    }
    #compare .selected-models ul.two .icon1 {
        top: 20px;
        width: 26px;
        height: 26px;
        background-size: 100% 100%;
        margin-left: -13px
    }
    #compare .models-list h2 {
        font-size: 20px;
        margin: 30px 0
    }
    #compare .models-list ul {
        width: 90%;
        margin: 0 auto;
        text-align: left
    }
    #compare .models-list ul li {
        width: 48%;
        height: 110px;
        margin: 0;
        margin-bottom: 10px
    }
    #compare .models-list ul li.selected {
        background: url(../images/compare/arrow.png) center 80px no-repeat
    }
    #compare .models-list ul li img.pic {
        max-width: 90%;
        height: auto;
        max-height: 100%
    }
    #compare .models-list ul li .name {
        font-size: 18;
        font-weight: 700;
        margin-top: 0
    }
    #compare .models-list ul li .models-content {
        height: 82px
    }
    #compare .models-list .this-style {
        margin-top: 0;
        margin-top: 10px
    }
    #compare .models-list .this-style .price {
        font-size: 12px;
        margin-top: 4px
    }
    #compare .models-list .this-style ul li {
        height: 120px;
        margin-top: 20px
    }
    #compare .compare-result .nav-box {
        height: 88px;
        overflow: hidden
    }
    #compare .compare-result .nav-box.show .nav-mobile a.btn-select {
        background-position: 20px -50px
    }
    #compare .compare-result .nav {
        display: none
    }
    #compare .compare-result .nav-mobile {
        display: block;
        height: 50px;
        background-color: #788087;
        padding: 0;
        position: relative
    }
    #compare .compare-result .nav-mobile a.btn-select {
        height: 50px;
        width: 140px;
        line-height: 50px;
        padding-left: 60px;
        background: url(../images/compare/arrow4.png) 20px 0px no-repeat;
       
        color: #fff;
        display: inline-block;
        font-size: 18px;
        text-decoration: none
    }
    #compare .compare-result .nav-mobile ul {
        position: absolute;
        top: 50px;
        left: 0;
        height: 250px;
        overflow: hidden;
        width: 100%;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -ms-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear
    }
    #compare .compare-result .nav-mobile ul.show {
        height: 250px
    }
    #compare .compare-result .nav-mobile ul li {
        height: 50px;
        line-height: 50px;
        padding-left: 20px;
        background-color: #788087;
        border-top: 1px solid #b1b7ba
    }
    #compare .compare-result .nav-mobile ul li a {
        display: block;
        color: #000;
        font-size: 18px;
        text-decoration: none
    }
    #compare .compare-result .nav-mobile a.hide-same {
        float: right;
        margin-top: 14px;
        color: #fff;
        margin-right: 20px
    }
    #compare .compare-result div.button {
        text-align: center;
        position: absolute;
        bottom: 0;
        width: 100%
    }
    #compare .compare-result div.button span {
        display: inline-block;
        margin: 0 12px
    }
    #compare .compare-result div.button span img {
        width: 12px;
        float: left;
        margin-top: 12px;
        margin-right: 7px
    }
    #compare .compare-result div.button a.hide-same {
        display: none
    }
    #compare .compare-result #result-box table.details tr td {
        overflow: hidden;
        padding: 12px 20px
    }
    #compare .compare-result #result-box table.details tr td img.pic {
        margin-bottom: 12px;
        max-width: 80%
    }
    #compare .compare-result .send-result {
        display: block
    }
}