#container{
	height: auto;
	overflow-y: auto;
}
#compare{
	background-color: #ffffff;
	.selected-models{
		background-color: #1597d9;
		text-align: center;overflow: hidden;
		position: relative;
		&.fixed{
			position: fixed;top: 0;width: 100%;left: 96px;
			z-index: 10;
			h2{display: none;}
			ul{
				margin-top: 20px;
				min-height: 120px;
				li{
					.price,a.btn-testdrive,a.btn-view-car{display: none;}
					&.car-box{
						height: 120px;
						.name{line-height: 40px;margin-top: 0;}
					}
				}
				.icon{top: 40px;}
			}
			a.btn-back{display: none;}
		}
		a.btn-close{
			width: 35px;height: 35px;
			position: absolute;top: 20px;right: 20px;
			background: url(../images/dealer-popup-close.png);
		}
		a.btn-back{
			width: 50px;height: 50px;
			position: absolute;left: 0;top: 0;
			background: url(../images/icon-h2-arrow.png) center no-repeat;
			display: none;
		}
		
		h2{color: #ffffff;margin-top: 30px;font-size: 24px;}
		ul {
			width: 88%;min-height: 180px;
			//overflow: hidden;
			margin: 5px auto;
			position: relative;
			li{
				display: inline-block;
				height: 180px;
				text-align: center;
				float: left;
				position: relative;
			}
			.car-box{
				background:url(../images/compare/car-bg.png) center no-repeat;color: #ffffff;
				-webkit-animation-duration: .5s;
				animation-duration: .5s;
				&.selected{
					background: none;
					a.del{display: block;}
				}
				a.del{
					position: absolute;top: 0;left: 50%;margin-left: 70px;
					width: 24px;height: 25px;
					background: url(../images/compare/del.png);
					display: none;
					opacity: .9;
					&:hover{
						opacity: 1;
					}
				}
				img.pic{max-height: 64px;margin-top: 18px;max-width: 90%;}
				div.name{
					font-size: 16px;margin: 6px 0;
				}
				div.price{font-size: 12px;}
				a.btn-testdrive, a.btn-view-car{
					display: inline-block;
					color: #ffffff;
					text-decoration: underline;
					background: url(../images/compare/arrow2.png) left center no-repeat;
					padding-left: 16px;
					font-size: 12px;line-height: 18px;display: none;
				}
				&.show{
					a.btn-testdrive, a.btn-view-car{display: inline-block;}
				}
			}
			.icon{
				width: 32px;height: 33px;
				background:url(../images/compare/icon1.png) center no-repeat;
				position: absolute;top: 68px;margin-left: -16px;
			}
			.add{
				background:url(../images/compare/add.png) center no-repeat;
				right: 0;cursor: pointer;
				display: none;
				z-index: 10;
			}
			&.two{
				li{
					width: 50%;
				}
				.icon1{
					left: 50%;
				}
				.icon2{display: none;}
				.three{display: none;}

					
			}
			&.three{
				li{
					width: 33%;
				}
				.icon1{
					left: 33%;
				}
				.icon2{
					display: block;
					left: 66%;
				}
			}
		}
	}
	.models-list{
		//display: none;
		text-align: center;position: relative;
		h2{
			font-size: 24px;margin: 48px 0;
		}
		ul{width: 88%;margin: 0 auto;overflow: hidden;text-align: left;}
		ul li{
			// width: 210px;
			// display: inline-block;
			// margin: 30px;
			height: 100px;
			cursor: pointer;
			text-align: center;
			margin: 30px 0;
			position: static;
			&.clearfix{height: auto;margin: 0;}
			&.selected{
				background: url(../images/compare/arrow.png) center 106px no-repeat;
				.this-style{
					display: block;
					
				}
			}

			img.pic{
				height: 64px;
			}
			.name{
				font-size: 18;font-weight: bold;margin-top: 10px;
			}
		}
		.this-style{
			width: 100%;position: absolute;left: 0;background-color: #f3f5f6;margin-top: 24px;
			display: none;

			.price{
				font-size: 12px;margin-top: 8px;
			}
			ul li{
				height: 120px;
			}
		}
	}
	.compare-result{
		display: none;
		.nav-box{
			&.fixed{
				position: fixed;
			}	
		}
		.nav{
			height: 50px;
			background-color: #788087;
			padding: 0 4%;
			a{
				display: inline-block;
				height: 50px;line-height: 50px;
				color: #000000;font-size: 16px;
				margin-right: 4%;text-decoration: none;
				font-weight: bold;
				&.active{
					color: #ffffff;
				}
			}
			
		}
		.nav-mobile{display: none;}
		a.hide-same{
			padding-left: 30px;margin-left: 30px;
			display: inline-block;
			height: 22px;line-height: 22px;
			background: url(../images/compare/hide-same.png) no-repeat;
			background-position: left -22px;
			&.active{
				background-position: left 0;
			}
		}
		div.button{
			height: 38px;text-align: right;line-height: 38px;
			background-color: #f3f5f6;padding-right: 27px;font-size: 12px;
			span{
				display: inline-block;margin-right: 24px;
				img{width: 12px;float: left;margin-top: 12px;margin-right: 7px;}
			}
			
		}
		#result-box{
			overflow: hidden;
			&.two{
				ul.details{width: 50%;}
			}
			&.three{
				ul.details{width: 33.3%;}
			}
		}
		ul.details{
			overflow: hidden;
			width: 33.3%;float: left;
			li{
				text-align: center;font-size: 16px;
				width: 100%;
				padding: 28px 0;
				&.bg{background-color: #f3f5f6;}
				img.pic{margin-bottom: 26px;max-width: 80%;}
				p{}
				span{font-size: 12px;color: #a5a4a2;display: block;}
			}
		}
		.send-result{
			display: none;
			width: 100%;height: 60px;
			background-color: #788087;
			padding-left: 20px;padding-right: 110px;
			text-align: left;
			position: relative;
			input{
				margin-top: 10px;
				height: 40px;
				padding: 0 10px;
				background: #ffffff;
				border-radius: 4px;
				border:none;font-size: 16px;
				width: 100%;
			}
			a.submit{
				width: 80px;text-align: center;
				display: inline-block;height: 40px;line-height: 40px;
				background-color: #069BD8;
				color: #ffffff;
				text-decoration: none;
				border-radius: 4px;
				position: absolute;right: 20px;top: 10px;
				&.no-click{
					background-color: #979593;
					color: #ffffff;
				}
			}
		}
	}
}

@media screen and (max-width: 1080px){
	// #compare{
	// 	.selected-models{
	// 		ul.three,ul.two{
	// 			li{
	// 				width: 50%;
	// 			}
	// 			.icon1{
	// 				left: 50%;
	// 			}
				
	// 		}
	// 		ul.three{
	// 			.icon2{display: none;}
	// 		}
	// 	}
	// }
}
@media screen and (max-width: 760px){
	// #compare{
	// 	.selected-models{
	// 		ul.three,ul.two{
	// 			li{
	// 				width: 100%;margin-bottom: 60px;
	// 			}
	// 			.icon1{
	// 				top: 198px;
	// 			}
	// 			.icon2{
	// 				top: 400px;left: 50%;
	// 			}
	// 		}
	// 		ul.three{
	// 			.icon2{display: block;}
	// 		}
	// 	}
	// }
}

@media screen and (max-width: 640px){
	#compare{
		.selected-models{
			&.fixed{
				left: 0;
				ul{
					margin-top: 20px;
					min-height: 40px;
					&.two{min-height: 40px;.icon1{top: 8px;}li{&.car-box{height: 40px;background-size: auto 96%;a.del{display: none;}}}}
					li{
						
						.price,a.btn-testdrive,a.btn-view-car,img.pic{display: none;}
						&.car-box{height: 40px;background-size: auto 100%;a.del{display: none;}}
					}
					.icon{top: 40px;}
					
				}
				
			}
			a.btn-close{display: none;}
			a.btn-back{display: inline-block;}
			h2{font-size: 20px;height: 50px;line-height: 50px;margin-top: 0;
			}
			ul.two{
				margin-top: 10px;
				min-height: 160px;
				li{
					width: 50%;margin-bottom: 0;
					height: 90px;
					&.car-box{
						background-size: 80% auto;
					}
					img.pic{
						width: 80%;height: auto;
					}
					.name{
						font-size: 16px;font-weight: bold;margin-top: 10px;margin-bottom: 0;
					}
					&.one{
						background-position: 0 center;
					}
					&.two{
						background-position: right center;

					}
					a.del{
						margin-left: 40px;
		
					}
				}
				.icon1{
					top: 20px;
					width: 26px;height: 26px;
					background-size: 100% 100%;margin-left: -13px;
				}
			}
		}
		.models-list{
			h2{
				font-size: 20px;margin: 30px 0;
			}
			ul{width: 90%;margin: 0 auto;text-align: left;}
			ul li{
				width: 48%;height: 110px;
				margin: 0;margin-bottom: 10px;
				&.selected{
					background: url(../images/compare/arrow.png) center 80px no-repeat;
				}
				img.pic{
					max-width: 90%;height: auto;
					max-height: 100%;
				}
				.name{
					font-size: 18;font-weight: bold;margin-top: 0px;
				}
				.models-content{
					height: 82px;
				}
			}
			.this-style{
				margin-top: 0px;margin-top: 10px;

				.price{
					font-size: 12px;margin-top: 4px;
				}
				ul li{
					height: 120px;margin-top: 20px;
				}
			}
		}
		.compare-result{
			.nav{
				display: none;
			}
			.nav-mobile{
				display: block;
				height: 50px;
				background-color: #788087;
				padding: 0;
				position: relative;
				
				a.btn-select{
					height: 50px;width: 140px;line-height: 50px;padding-left: 20px;
					background: url(../images/compare/arrow3.png) 100px 16px no-repeat;
					background-size: 12px auto;
					color: #ffffff;font-weight: bold;
					display: inline-block;
					font-size: 16px;
					text-decoration: none;
				}
				ul{
					position: absolute;top: 50px;left: 0;
					height: 0px;overflow: hidden;
					width: 140px;
					-webkit-transition:all 0.2s linear;
					-moz-transition:all 0.2s linear;
					-ms-transition:all 0.2s linear;
					-o-transition:all 0.2s linear;
					transition:all 0.2s linear;
					&.show{
						height: 250px;
					}
					li{
						height: 50px;line-height: 50px;
						padding-left: 20px;
						color: #000000;font-size: 20px;
						background-color: #788087;
						border-bottom: 1px solid #b1b7ba;
						font-size: 16px;font-weight: bold;
						cursor: pointer;
					}
				}
				a.hide-same{float: right;margin-top: 14px;color: #ffffff;margin-right: 20px;}
			}
			div.button{
				
				text-align: center;
				span{
					display: inline-block;margin:0 12px;
					img{width: 12px;float: left;margin-top: 12px;margin-right: 7px;}
				}
				a.hide-same{
					display: none;
				}
			}

			ul.details{
				overflow: hidden;
				width: 33.3%;float: left;
				li{
					padding: 12px 0;
					img.pic{margin-bottom: 12px;max-width: 80%;}
				}
			}
			.send-result{display: block;}
		}
	}
}
// .popup{
// 	display: none;
// 	position: absolute;top: 0;left: 0;bottom: 0;right: 0;
// 	width: 100%;height: 100%;
// 	background: url(../images/popup-bg.png);
// 	z-index: 1000;
// 	.popup-content{
// 		width: 86%;padding: 40px 0;
// 		position: fixed;top: 40%;left: 50%;margin-left: -43%;
// 		background-color: #ffffff;
// 		a.btn-close{
// 			width: 35px;height: 35px;
// 			background: url(../images/dealer-popup-close.png);
// 			position: absolute;right: 10px;top: 10px;
// 		}
// 		p{font-size: 18px;font-weight: bold;text-align: center;}
// 	}
// }