.clear{
	clear: both;
}
#container{
	background-color: #f3f5f6;
	//min-width: 1000px;
}

#finance{
	padding-top: 91px;
	
	overflow: hidden;
	width: 100%;height: 100%;
	h2{display: none;}
	.car-model{
		text-align: center;
		margin-top: 40px;margin-bottom: 30px;height: 160px;
		.car-pic{
			img{height: 72px;width: auto;}
			p{margin-top: 20px;}
		}
		.car-name{font-size: 18px;line-height: 36px;margin-top: 24px;p{font-size: 13px;line-height: 20px;}}
	}
	.content-change{
		width: 43%;
		border-right: 1px solid #414743;
		position: relative;margin-left: 7%;padding-right: 3%;
		float: left;
		.line{
			line-height: 32px;height: 32px;margin-bottom: 30px;position: relative;
			padding-left: 114px;
			&.mb40{margin-bottom: 40px;}
			&.mb50{margin-bottom: 50px;}
			h3{float: left;line-height: 32px;height: 32px;position: absolute;left: 0;font-size: 16px;font-weight: bold;}
			select{
				width: 48%;
			}	
			.chosen-container{margin: 0 .5%;float: left;width: 48%;}
			input{
				width: 96%;height: 32px;
				background: #ffffff;
				border:1px solid #dee1e3;
				border-radius: 2px;
				line-height: 32px;
				font-size: 14px;
				padding: 0 12px;
				margin: 0 1%;
			}
			.payline{
				width: 98%;height: 100%;
				margin: 0 1%;
				position: relative;
				.bg{width: 98%; vertical-align:middle;margin: 0 1%;}
				ul{
					position: absolute;width: 100%;height: 100%;
					top: 0;left: 0;
					li{
						width: 5.3%;margin-right: 10.4%;height: 100%;
						float: left;
						text-align: center;
						cursor: pointer;
						position: relative;
						img{width: 100%;}
						&.end{margin: 0;}
						&.selected{
							span.val{display: block;}
						}
						span.val{
							display: none;
							position: absolute;width: 100px;left: 50%;margin-left: -50px;top: -40%;
							height: 20px;line-height: 20px;
						}
						p{
							position: absolute;width: 100px;left: 50%;margin-left: -50px;top: 100%;
							height: 20px;line-height: 20px;
						}
					}
				}
			}
			.timeline{
				width: 98%;height: 100%;
				margin: 0 1%;
				position: relative;
				.bg{width: 98%; vertical-align:middle;margin: 0 1%;}
				ul{
					position: absolute;width: 100%;height: 100%;
					top: 0;left: 0;
					li{
						width: 5.3%;margin-right: 13.6%;height: 100%;
						float: left;
						text-align: center;
						cursor: pointer;
						position: relative;
						img{width: 100%;}
						&.end{margin: 0;}
						&.selected{
							span.val{display: block;}
						}
						span.val{
							display: none;
							position: absolute;width: 100px;left: 50%;margin-left: -50px;top: -40%;
							height: 20px;line-height: 20px;
						}
						p{
							position: absolute;width: 100px;left: 50%;margin-left: -50px;top: 100%;
							height: 20px;line-height: 20px;
						}
					}
				}
			}
		}
		
	}
	.content-result{
		width: 43%;
		position: relative;padding-left: 3%;
		float: left;text-align: center;
		h3{
			text-align: center;font-size: 24px;font-weight: bold;line-height: 36px;margin-bottom: 10px;
		}
		.line{
			height: 45px;width: 100%;overflow: hidden;color: #0099da;padding: 0 9%;
			&.bg{background-color: #ffffff;}
			h4{
				line-height: 45px;float: left;font-size: 16px;
			}
			span{float: right;line-height: 45px;font-size: 16px;}
		}
		a#btn-apply,a#btn-all-finance{
			color: #ffffff;text-align: center;background-color: #0099da;
			width: 100px;height: 30px;display: inline-block;line-height: 30px;
			border-radius: 4px;margin: 15px 13px;
			text-decoration: none;font-size: 13px;
			&.noClick{
				background-color: #969593;color: #ffffff;border: none;
			}
		}
		a#btn-all-finance{
			background-color: #ffffff;
			color: #0099da;
			border: 1px solid #0099da;
		}
		.note{
			font-size: 12px;color: #bdc3c6;
			text-align: center;
		}
		.send-result{
			display: none;
		}
	}

	.popup{
		display: none;
		background: url(../images/popup-bg.png);
		position: absolute;top: 0;left: 0;bottom: 0;right: 0;
		margin-top: 91px;
		.content{
			position: absolute;left: 50%;top: 50%;
			a.popup-close{
				background: url(../images/dealer-popup-close.png);
				width: 35px;height: 35px;
				position: absolute;right: 20px;top: 20px;
			}
		}
		&#all-finance{
			.content{
				position: fixed;z-index: 20;
				background-color: #f3f5f6;
				padding: 34px 0;
				width: 70%;margin-left: -33%;height: 450px;margin-top: -225px;
				text-align: center;
				h2{margin-left: 4%;font-size: 24px;text-align: left;font-weight: bold;}
				.note{margin-left: 4%;font-size: 12px;margin:12px 4% ;text-align: left; span{color: #0099d9;}}
				ul,li{list-style-type: none;}
				ul.finance-list li{
					height: 40px;line-height: 40px; font-size: 12px;padding: 0 4%;overflow: hidden;
					span.check{
						cursor: pointer;
						float: left;background: url(../images/finance/raido.png);width: 24px;height: 24px;display: inline-block;margin-top: 8px;margin-right: 8px;
						&.selected{
							background-position: 0 -24px;
						}
					}
					div{
						float: left;font-size: 12px;
						&.text1{margin-right: 8%;}
						&.text2{}
						&.text3{float: right;color: #0099da;font-size: 16px;}
					}
					&.bg{background-color: #ffffff;}
				}
				
				ul.page-list{
					text-align: center;margin: 20px 0;
					li{
						width: 13px;height: 13px;
						display: inline-block;
						background-color: #bdc3c3;
						border-radius: 3px;
						cursor: pointer;margin: 0 5px;
						&.active{
							background-color: #0098da;
						}
					}
				}
				a{margin: 0 3px;}
				a.page-prv, a.page-next{
					border: 1px solid #0098da;
					width: 100px;height: 30px;line-height: 30px;color: #0098da;
					text-align: center;display: inline-block;
					border-radius: 4px;font-size: 14px;
				}
				a.btn-apply{
					width: 100px;height: 30px;line-height: 30px;
					background-color: #0098da;color: #ffffff;border-radius: 4px;font-size: 14px;
					display: inline-block;
					&.noClick{
						background-color: #969593;color: #ffffff;border: none;
					}
				}
				.note-change{margin-top: 10px;font-size: 12px;}
			}
		}
	}
}

@media screen and (max-width:960px){

    #finance{

    	.content-change{
    		width: 86%;margin: 0 auto;float: none;
    		border-right: none;padding: 0;
    	}
    	.content-result{
    		width: 86%;margin: 0 auto;float: none;padding: 0;
    	}
    }

}

@media screen and (max-width:640px){
	#finance{
		padding-top: 0;
		h2{display: block;
			width: 100%;height: 50px;line-height: 50px;
			color: #ffffff;font-size: 18px;
			padding: 0 15px;
			text-align: center;
			background: url(../images/icon-h2-arrow.png) 15px center no-repeat #0099da;
			position: relative;
			a.btn-back{
				height: 50px;width: 50px;
				position: absolute;left: 0;
			}
		}
		.car-model{
			margin-top: 40px;margin-bottom: 20px;
			.car-pic{
				img{height: 84px;}

			}
			.car-name{font-size: 14px;}
		}
		.content-change{
    		width: 86%;margin: 0 auto;float: none;
    		border-right: none;padding: 0;
    		.line{
    			padding: 0;height: auto;margin-bottom: 20px;
    			h3{
    				position: static;float: none;font-size: 18px;
    			}
    			.chosen-container{float: none;margin-bottom: 8px;}
    			input{width: 98%;}
    			select{width: 98%;}
	    		.timeline, .payline{
					margin-top: 20px;
					li .val{color: #0098da;}
	    		}	
    		}
    		
    	}
    	.content-result{
    		margin-top: 40px;
    		width: 100%;
    		h3{display: none;}
    		.line{
    			h4{font-size: 18px;}
    			span{font-size: 18px;}
    		}
    		a#btn-all-finance,a#btn-apply{
				width: 70%;margin-top: 20px;margin-bottom: 0;height: 40px;line-height: 40px;font-size: 16px;
			}
			.note{width: 80%;text-align: left;margin: 20px auto;}
			.send-result{
				display: block;
				width: 100%;height: 60px;
				background-color: #788087;
				padding-left: 20px;padding-right: 110px;
				text-align: left;
				position: relative;
				input{
					margin-top: 10px;
					height: 40px;
					padding: 0 10px;
					background: #ffffff;
					border-radius: 4px;
					border:none;font-size: 16px;
					width: 100%;
				}
				a.submit{
					width: 80px;text-align: center;
					display: inline-block;height: 40px;line-height: 40px;
					background-color: #069BD8;
					color: #ffffff;
					text-decoration: none;
					border-radius: 4px;
					position: absolute;right: 20px;top: 10px;
					&.no-click{
						background-color: #979593;
						color: #ffffff;
					}
				}
			}
    	}
		.popup{
			&#all-finance{
				margin-top: 0;
				.content{
					width: 100%;height: 500px;margin-top: -250px;
					left: 0;margin-left: 0;
					h2{text-align: center;font-size: 24px;}
					.note{text-align: center;font-size: 12px;}
					ul.finance-list{
						height: 300px;
						overflow-y: scroll;
						-webkit-overflow-scrolling : touch;
					}
					ul.finance-list li{
						line-height: 16px;height: auto;padding: 10px 6%;
						position: relative;text-align: left;
						div{
							text-align: left;
							font-size: 12px;line-height: 18px;
							float: none;margin-left: 40px;
							&.text1{font-weight: bold;}
							&.text3{float: none;font-size: 12px;font-weight: bold;}
						}
						span.check{
							width: 24px;height: 24px;
							background-size: 100% auto;
							position: absolute;top: 50%;margin-top: -12px;

							&.selected{
								background-position: 0 -24px;
							}
							
						}
					}
					ul.page-list,a.page-prv,a.page-next{
						display: none;
					}
					a.btn-apply{
						position: absolute;bottom: 40px;left: 50%;z-index: 1;
						background-color: #ffffff;color: #0098da;
						width: 300px;margin-left: -150px;
					}
					.note-change{
						background-color: #0098da;position: absolute;bottom: 0;width: 100%;
						height: 100px;color: #ffffff;padding-top: 66px;
					}
				}
			}		
		}
		
	}

}
.popup{
	display: none;
	position: absolute;top: 0;left: 0;bottom: 0;right: 0;
	width: 100%;height: 100%;
	background: url(../images/popup-bg.png);
	z-index: 1000;
	.popup-content{
		width: 86%;padding: 40px 0;
		position: fixed;top: 40%;left: 50%;margin-left: -43%;
		background-color: #ffffff;
		a.btn-close{
			width: 35px;height: 35px;
			background: url(../images/dealer-popup-close.png);
			position: absolute;right: 10px;top: 10px;
		}
		p{font-size: 18px;font-weight: bold;text-align: center;}
	}
}