body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea {font-family: "Microsoft YaHei", \5fae\8f6f\96c5\9ed1, arial, \5b8b\4f53 }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; color: #808588; }
a:hover { color:#00a9e0;text-decoration:none;}
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }
/* -----------------------------初始化------------------------------------ */

html,body{width: 100%;height: 100%; }
#container{width: 100%;}
.bold_font{	font-weight:bold;	}

.mainbody{padding: 0; margin-left: 96px; position: relative; z-index:15;}
.mainbody .mask{width:100%;height:150%; background:#000;filter:alpha(opacity=60);opacity:0.6; position:fixed;left:0;top:0; z-index:20; display: none;margin-left: 96px;}
.fullscreenbox{
	background-image:url(../images/kv_0726_pc.jpg);
    background-size: cover;
    width: 100%;
	height: 100%;
    background-repeat: no-repeat;
    background-position: center;
	position:relative;
	padding-top:110px;
}
.fullscreenbox_title{
	width:100%;
	position:absolute;
	top:30%;
	text-align:center;
	color:#fff;
	font-size:48px;	
	font-weight:bold;
}
.fullscreenbox a.mobile_link{	display:none;}
.container-fluid{ overflow-x: hidden;}


.top_link{background-color: #bdc3c6; width: 100%; position: fixed; right: 0; top: 0; z-index: 12;  }
.top_link .navbar-right{margin-right: 3%;}
.top_link .navbar-left{margin-left: 3%;}
.top_link .toolslink{ text-align: center; padding: 5px 0 0 0;}
.top_link .toolslink a:hover{background: none;}
.top_link .toolslink div{width: 36px;height: 36px;padding:6px;  margin: 0 auto;border-radius:18px;-moz-border-radius: 18px; -webkit-border-radius: 18px; background-color:#2f3538; }
.top_link .toolslink div:hover{background-color:#808890;}
.top_link .toolslink div span{width: 25px; height: 25px;display:block;background-image: url("../images/icon_all25x25.png");background-repeat: no-repeat;}
.top_link .toolslink div span.icon-testdrive{background-position: -75px -1150px;}
.top_link .toolslink div span.icon-searchdealer{background-position: -75px -575px;}
.top_link .toolslink div span.icon-support{background-position: -75px -1075px;}
.top_link .toolslink a>span.atext{color: #fff;}
.top_link .car_name{padding-top:25px;font-size: 20px; line-height: 24px; font-weight: bold; margin-right: 30px;}
.top_link .car_price{padding-top:25px;font-size: 20px; line-height: 24px;}

.sub_nav{background-color: #808890; width: 100%;}
.sub_nav a{color: #2f3538;}


.vwicon{background-image: url("../images/icon_all25x25.png");background-repeat: no-repeat; width: 25px; height: 25px;display: block;}
#main_nav{
    position: fixed;
    left: 0;
    top: 0;
    width: 96px;
    height: 100%;
    background-color: rgba(255,255,255,1);
    z-index: 12;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    border-right: solid 1px #dee1e3;
   box-shadow:0px 0px 10px 5px #dee1e3;
/*投影方式 X轴偏移量 Y轴偏移量 阴影模糊半径 阴影扩展半径 阴影颜色;*/
}
#main_nav li{
    border-bottom: 1px solid #dee1e3;
    text-align: center;
	padding-bottom: 10px;
}
#main_nav li.logobox{
    width: 96px;
    height: 120px;
    text-align: center;
    padding-top: 20px;
}

#main_nav li a{display: block;}
#main_nav li a .lefticon{background-image: url("../images/icon_leftnav.png");background-repeat: no-repeat;}
#main_nav li a .nav_size{ width: 50px; height: 50px; margin: 10px auto 5px auto;}
#main_nav li a .icon-car{background-position:0 0; }
#main_nav li a:hover .icon-car{background-position:-50px 0; }
#main_nav li a .icon-findadealer{background-position:0px -50px; }
#main_nav li a:hover .icon-findadealer{background-position:-50px -50px; }
#main_nav li a .icon-importer{background-position:0px -100px;}
#main_nav li a:hover .icon-importer{background-position:-50px -100px;}
#main_nav li a .icon-dealer{background-position:0px -150px;}
#main_nav li a:hover .icon-dealer{background-position:-50px -150px;}
#main_nav li a .icon-more{background-position:0px -600px;}
#main_nav li a:hover .icon-more{background-position:-50px -600px;}

#mobile_nav{display: none;}
#main_nav_more{ position: fixed;left: 96px;top: 0; width: 0px;height: 100%;background-color: rgb(255,255,255);
z-index: 16;-webkit-transform-origin: 0 0;transform-origin: 0 0;overflow: hidden;
}
#main_nav_more .desktop-searchbox { padding: 30px 25px 20px 25px; }
#main_nav_more .desktop-searchbox .fancy-input {padding: 0 !important;position: relative;border: 1px solid #ccc;height: 36px;border-radius: 3px;width: 200px;}
#main_nav_more .fancy-input span{display: block; width: 25px; float: left; margin:5px 5px 0 5px; cursor: pointer;}
#main_nav_more .fancy-input .input-wrapper-search{float: left; line-height: 36px;}
#main_nav_more .fancy-input .input-wrapper-search .searchformtext{height: 24px; border: 0px; line-height: 24px; width: 150px; }
#main_nav_more .fancy-input .icon-searchglass{width:25px; height: 25px; float: left; background-position:0px -1025px;}
#main_nav_more ul{margin: 0 10px;width: 230px; overflow: hidden;}
#main_nav_more li{ border-bottom:1px solid #dee1e3; overflow: hidden }
#main_nav_more li a{display: block; padding:20px; width: 100%; overflow: hidden;}
#main_nav_more li a span{display: block; float: left;height: 25px; line-height: 25px; padding-left: 10px;}
#main_nav_more li a .nav_size{width: 25px; height: 25px;float: left;}
#main_nav_more li a .icon-car{background-position:0 0; }
#main_nav_more li a:hover .icon-car{background-position:-25px 0; }
#main_nav_more li a .icon-findadealer{background-position:0px -25px; }
#main_nav_more li a:hover .icon-findadealer{background-position:-25px -25px; }
#main_nav_more li a .icon-importer{background-position:0px -50px;}
#main_nav_more li a:hover .icon-importer{background-position:-25px -50px;}
#main_nav_more li a .icon-dealer{background-position:0px -350px;}
#main_nav_more li a:hover .icon-dealer{background-position:-25px -350px;}
#main_nav_more li a .icon-more{background-position:0px -700px;}
#main_nav_more li a:hover .icon-more{background-position:-25px -700px;}




/*****************自定义样式***********************/
#page02,#page03,#page04,#page05,#page06,#page07{margin-top:5%;	}
.lt{float:left;	}
.rt{float:right;}
.clr{clear:both;}


.content_title_lg{
	font-weight:bold;
	font-size:22px;
	padding:10px 0 10px 0;
	margin-bottom:2%;
}
.content_text{
	margin-bottom:2%;
	font-size:18px;
	min-height:84px;
}
.content_title_sm{
	font-weight:bold;
	font-size:20px;	
	padding-bottom:20px;
	margin-top:3%;
}

.main_title{
	font-size:28px;
	text-align:center;
	font-weight:bold;	
	padding:50px 0;
}
.link_box{
	margin:6% 0;
	text-align:center;
}
.btn_group{
	margin-top:10%;
	padding:0 18%;
}

.finance_text{
	font-size:20px;
	color:#6d7479;	
}
.img_box{
	text-align:center;
}

.click_img img{
	cursor:pointer;	
}

.footer{
	margin-top:1%;
	background:#f2f2f2;
	height:auto;
	padding-bottom:100px;	
}
.footer_bar{
	height:44px;
	line-height:44px;
	background:#bfbfbf;	
	padding-right:10%;
}
.footer_bar a{
	float:right;
	color:#000;
	font-size:18px;
	display: block;
	width: 100px;
}
.footer_bar span{float: left; }
.footer_bar span.icon-back-top{background-position:-50px -1675px;margin-top: 10px;}

.footer .container{
	padding-top:20px;	
}
.footer .container .list-group-item{
	background:#f2f2f2;
	border:none;
}
.footer .container .list-group-item a{
	background:url(../images/jiantou.png) no-repeat left center;
	padding-left:14px;	
}
.foot_title_one{
	position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;	
}
.list_title a{
	color:#000;
	font-weight:bold;
	background:none;
	padding-left:15px;	
}
.foot_title_sec{
	color:#858587;
	font-weight:bold;	
}
.footer .red_font{
	color:red;	
}
.foot_msg{
	margin-top:5%;	
}
.foot_msg span{
	margin-right:5%;	
}
.weixin{
	position:relative;	
}
.erweima{
	position:absolute;
	top:-145px;
	left:0;
	display:none;
}
.weibo img,.weixin>img{
	width:30%;
	margin:10px;
}
.slide_list_unactive{
	display:none;	
}
.mobile_link{
	display:none;	
}

.gouche{
	padding-bottom:10%;
}
.gouche_icon{
	width:95px;
	height:80px;
	margin:0 auto;
	text-align:center;	
	margin-top:50px;
}


/********************重写bootstrap样式************************/
.fullimg{width: 100%;}
.media{
	padding:25px 0 0 0;
}
.media .fullimg{width: 90%;}

.pull-right,.pull-left{width: 50%;}
.media-body{
	width: 50%;
}
.btn-lg{
	min-width:180px;
	padding:5px 16px;
}
.btn-sm{
	min-width:120px;
	padding:5px 16px;	
}
.nav-pills > li > a {
	border-radius: 0px;
}
/********************重写bootstrap样式************************/

@media screen and (min-width: 1200px){
	.container {
		width: 94%;
		padding: 0 3%;
	}
	.media-body{
		padding:15%;	
	}
}

@media screen and (max-width: 992px){

	
	.media .fullimg{width: 100%;}
	.pull-right,.pull-left{width: 100%;}
	
	/*footer*/
	.footer{
		padding:0;	
	}
	.footer .container{
		padding:0;	
	}
	.footer .list_title{
		border-bottom:1px solid #ccc;
		height:46px;
		line-height:46px;	
	}
	.footer .container .list-group-item{
		border-bottom:1px solid #ccc;
		background:#fff;
		margin:0;
	}
	.footer .container .list-group-item a{
		height:30px;
		line-height:30px;	
		background:#fff;	
		width:100%;
		display:inline-block;
	}
	.foot_msg{
		padding:5%;	
	}
	.weibo_weixin{
		padding:5%;		
	}
}

@media screen and (max-width:768px){

    .toolsbox{display: none;}

	.fullscreenbox{ height: 320px;padding:0;}
	.media .fullimg{width: 100%;}
	.pull-right,.pull-left{width: 100%;}
	
	/*footer*/
	.footer{
		padding:0;	
	}
	.footer .container{
		padding:0;	
	}
	.footer .list_title{
		border-bottom:1px solid #ccc;
		height:46px;
		line-height:46px;	
	}
	.footer .container .list-group-item{
		border-bottom:1px solid #ccc;
		background:#fff;
		margin:0;
	}
	.footer .container .list-group-item a{
		height:30px;
		line-height:30px;	
		background:#fff;	
		width:100%;
		display:inline-block;
	}
	.foot_msg{
		padding:5%;	
	}
	.weibo_weixin{
		padding:5%;		
	}
}

@media screen and (max-width:640px){
	.fullscreenbox{
		background-image:url(../images/kv_0726.jpg);
		background-size: cover;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		position:relative;
		padding:0;
	}
	.fullscreenbox{ height: 320px;}
	.fullscreenbox .fullscreen_title{
		font-size:40px;
		top:20%;
	}
	.pull-left,.pull-right{
		float:none !important;
		padding:0 !important;	
	}
	.media .fullimg{width: 100%;}

	.pull-right,.pull-left{width: 100%;}
	
	.content_title_lg{
		font-size:16px;	
	}
	.content_title_sm{
		font-size:16px;	
	}
	.content_text{
		font-size:14px;
		min-height:0px;
	}
	/*footer*/
	.footer{
		padding:0;	
	}
	.footer .container{
		padding:0;	
	}
	.footer .list_title{
		border-bottom:1px solid #ccc;
		height:46px;
		line-height:46px;	
	}
	.footer .container .list-group-item{
		border-bottom:1px solid #ccc;
		background:#fff;
		margin:0;
	}
	.footer .container .list-group-item a{
		height:30px;
		line-height:30px;	
		background:#fff;	
		width:100%;
		display:inline-block;
	}
	.foot_msg{
		padding:5%;	
	}
	.weibo_weixin{
		padding:5%;		
	}
	.erweima{
		top:-160px;
		left:0;
	}
    #container{position:relative;overflow-x: hidden; width: 100%;}
    .mainbody{margin-left: 0;}
    #main_nav{display: none;}
    .top_link{display: none;}
    #mobile_nav{display: block; overflow: hidden;}
    #mobile_nav .logobox{padding: 5px 20px; height: 60px; width: 120px; float: left;}
    #mobile_nav .logobox img{height: 100%;}
    #mobile_nav .burger_menu{ float: right; width: 30px;margin: 20px 20px 5px 0; position: relative; height: 30px;}
    #mobile_nav .burger_menu .burger_line{height: 3px; width: 100%; background-color: #0099da; position: absolute;left:0; -webkit-transition:all 0.4s linear; }
	#mobile_nav .burger_menu .burger_line:nth-child(1){top:0;}
	#mobile_nav .burger_menu .burger_line:nth-child(2){top:8px;}
	#mobile_nav .burger_menu .burger_line:nth-child(3){top:16px;}
	#mobile_nav .burger_menu .hideline{opacity: 0;}
	#mobile_nav .burger_menu .rotate{-webkit-transform:rotate(45deg); -webkit-transform-origin: 8px 0}
	#mobile_nav .burger_menu .re_rotate{-webkit-transform:rotate(-45deg);-webkit-transform-origin: 0 0}
    #main_nav_more{top: 60px;left:100%; width: 100%; position: absolute; height: auto;}
    #main_nav_more ul{margin: 0 2%;width: 96%;  overflow: hidden;}
    #main_nav_more .desktop-searchbox { padding: 30px 2% 20px 2%;}
    #main_nav_more .desktop-searchbox .fancy-input { width: 100%;}
    #main_nav_more .mobile_nav_shadow{background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, transparent 100%) repeat scroll 0 0;height: 8px;width: 100%;}
}
.vr_erweima{display:none;position:absolute;	top:102%;left:0;width:100%;}




