body{
	overflow-y: scroll;
}
.clear{
	clear: both;
}
.sub_nav{
	position: relative;

	.login-box{
		position: absolute;
		right: 5%;top: 0;
		height: 40px;line-height: 40px;
		color: #ffffff;
		p{display: inline-block;margin-right: 46px;}
		a{color: #ffffff;}
		.user-name{
			background: url(../images/recruit/user-icon.png) center left no-repeat;
			padding-left: 16px;
			margin-right: 10px;
		}
	}	
	
}

.nav-pills {
	li.active{
		a,a:hover,a:focus{background-color: #808890;}
	}
}
.warning{
	input,select,.chosen-single{
		border:1px solid #c92e2c;
	}
}
#recruit{
	padding-top: 131px;text-align: center;
	
	.banner{
		overflow: hidden;
		img{float: left;width: 100%;}
	}
	.text{
		text-align: left;
		font-size: 12px;line-height: 18px;
		margin: 34px 5%;
	}
	a.btn{
		background-color: #0096dc;
		color: #ffffff;
		display: inline-block;
		width: 178px;height: 30px;line-height: 30px;
		text-align: center;
		margin: 0 9px;margin-bottom: 18px;
		padding: 0;
		border-radius: 4px;font-size: 14px;
	}
	&.recruit-details{
		h2{font-size: 24px;font-weight: bold;margin-top: 52px;margin-bottom: 20px;}
		a.reg-now{margin-bottom: 24px;}
		.details_list{
			border-top: 2px solid #d2d2d2;
			li{
				border-bottom: 2px solid #d2d2d2;
				text-align: left;
				background: url(../images/icon-arrow2.png) 65px 27px no-repeat;
				height: 70px;
				overflow: hidden;
				// -webkit-transition: all 1s ease; 
				// transition: all 1s ease; 
				h3{
					height: 70px;line-height: 70px;font-size: 16px;
					cursor: pointer;padding-left: 104px;
					border-bottom: 2px solid #d2d2d2;
				}
				&.show{
					height: auto;
					background: url(../images/icon-arrow2-d.png) 62px 25px no-repeat;
				}
				.content{
					padding: 30px 104px;text-align: center;
					ul.text-list{
						li{
							background: url(../images/icon-arrow3.png) 0 4px no-repeat;
							line-height: 18px;
							height: auto;
							padding-left: 20px;
							border: none;
							margin-bottom: 18px;

							&.color{
								color: #0099db;
							}
							h4{font-weight: bold;margin-bottom: 9px;}
							p{margin: 9px 0;}
						}
					}
					table{
						text-align: center;
						border-top:2px solid #ccd0d2;
						border-left:2px solid #ccd0d2;
						tr{
							border-bottom:2px solid #ccd0d2;
							&.bg1{
								background-color: #fbfbfb;
							}
							&.bg{
								background-color: #bdc3c7;
								td{padding: 2px;}
							}
							td{
								border-right: 2px solid #ccd0d2;
								padding: 10px;
								&.bold{
									font-weight: bold;
								}
							}
						}
					}

					.select-box{
						position: relative;
						padding-left: 86px;padding-right: 169px;
						text-align: center;
						height: 32px;line-height: 32px;
						p{display: inline-block;position: absolute;left: 0;}
						a.btn{position: absolute;right: 0;margin: 0;margin-top: 3px;}
						.chosen-container{text-align: left;}
						li{
							border: none;
							background: none;
							height: 32px;
						}
					}

					.city-list{
						margin-top: 20px;
						border: 0;
						table{
							border: 0;border-bottom: 2px solid #d2d2d2;
							tr{
								&.frist{
									background-color: #adb5b5;
									td{text-align: center;}
								}
								&.bg{background-color: #eef0ee;td{padding: 10px;}}
								border: 0;
								td{
									border: 0;
									line-height: 24px;
									text-align: left;
									&.center{text-align: center;}
									.radio{margin: 0;}
								}

							}	
						}
						
						.page-list{
							font-size: 12px;
							margin: 28px 0;
							a{
								background-color: #bcc3c3;
								display: inline-block;
								height: 15px;line-height: 15px;
								padding: 0 4px;
								color: #ffffff;
								border-radius: 2px;
								margin: 0 5px;
								text-decoration: none;
								&.active,&:hover{
									background-color: #0096dc;
								}
							}
						}
					}

				}
			}
		}
			
	}
	&.recruit-reg{
		background-color: #f1f2f4;overflow: hidden;
		h2{font-size: 24px;font-weight: bold;margin-top: 52px;margin-bottom: 20px;text-align: center;}
		.form{
			width: 34%;
			text-align: center;
			margin: 0 auto;
			.warning{
				input,select,.chosen-single{
					border:1px solid #c92e2c;
				}
				p.warning{
					display: block;
				}
			}
			.line.input-box{
				position: relative;
				padding-left: 60px;
				line-height: 32px;
				margin-bottom: 28px;
				input{font-size: 12px;}
				p{
					position: absolute;left: 0;font-size: 12px;
				}
				&.code{
					padding-right: 145px;
					a.get-code{
						background-color: #0095dd;
						color: #ffffff;text-align: center;
						border-radius: 4px;
						line-height: 32px;height: 32px;width: 134px;
						position: absolute;right: 0;top: 0;
						font-size: 12px;
						text-decoration: none;
						&.no-click{
							background-color: #bdc3c6;
							color: #878e96;border: 1px solid #878e96;
						}
					}
				}
				
				p.warning{
					left: 60px;line-height: 20px;color: #c92e2c;
					//display: none;
				}
				
			}
			.clause{
				line-height: 23px;padding-left: 60px;text-align: left;
				span.check{float: left;}
				p{
					display: inline-block;font-size: 12px;
					a{color: #0095dc;}
				}
			}
			a.submit{
				background-color: #0095dd;
				color: #ffffff;text-align: center;
				border-radius: 4px;
				line-height: 32px;height: 32px;width: 168px;
				display: inline-block;
				margin-top: 30px;margin-bottom: 50px;
				font-size: 12px;
			}
		}
	}
	
	&.record-record{
		text-align: left;
		padding-left: 5%;padding-right: 5%;

		.userinfo{
			margin-top: 50px;
			a{color: #0099da;}
		}
		.tab{
			margin-top: 16px;
			a{margin-right: 50px;text-decoration: none;}
			a.active{
				color: #0099da;
				display: inline-block;
				border-bottom: 3px solid #0099da;
			}
		}
		table{
			border: 0;
			margin-top: 6px;font-size: 12px;
			tr{
				&.frist{
					background-color: #adb5b5;
				}
				&.bg{background-color: #eef0ee;td{padding: 18px 0;}}
				border: 0;
				td{
					border: 0;
					line-height: 24px;
					text-align: center;
					padding: 16px 0;
					&.center{text-align: center;}
					.radio{margin: 0;}

					a{

						display: inline-block;
						text-decoration: none;
						margin:0 5px;
						width: 178px;height: 30px;line-height: 30px;
						text-align: center;border-radius: 4px;font-size: 14px;
						float: left;
					}
					a.btn-download, a.btn-edit{
						background-color: #0096dc;color: #ffffff;
					}
					a.btn-view{
						color: #0096dc;
						border: 1px solid #0096dc;
					}
				}

			}	
		}
		.page-list{
			font-size: 12px;
			margin: 28px 0;text-align: center;
			a{
				background-color: #bcc3c3;
				display: inline-block;
				height: 15px;line-height: 15px;
				padding: 0 4px;
				color: #ffffff;
				border-radius: 2px;
				margin: 0 5px;
				text-decoration: none;
				&.active,&:hover{
					background-color: #0096dc;
				}
			}
		}
	}

	&.recruit_apply{
		padding-bottom: 40px;
		div.setp{
			margin-top: 45px;
			background: url(../images/recruit/step-bg.png) center 10px no-repeat;
			li{
				display: inline-block;
				width: 24px;height: 24px;
				background: url(../images/recruit/step-icon.png);
				position: relative;
				margin: 0 74px;
				&.active{
					background-position: 0 -24px;
					color: #0096dc;
				}
				p{
					position: absolute;top: -30px;left: -74px;
					width: 172px;text-align: center;
					font-size: 16px;font-weight: bold;
				}
			}
		}
		
		.setp-1{
			//display: none;
			h2{font-size: 24px;font-weight: bold;margin: 22px 0;text-align: center;}
			h3{
				text-align: left;
				font-size: 12px;font-weight: bold;
				margin: 0 5%;
				margin-bottom: 16px;
			}
			.text-list{
				margin: 0 5%;font-size: 12px;
				text-align: left;
				margin-bottom: 36px;
				li{
					background: url(../images/recruit/list-bg.png) left 6px no-repeat;
					padding-left: 20px;line-height: 26px;
				}
			}
			
			a.btn-agree{
				width: 178px;height: 30px;line-height: 30px;
				background-color: #0096dc;
				color: #ffffff;text-align: center;border-radius: 4px;font-size: 14px;
				display: inline-block;margin: 0 8px;
			}
			a.btn-disagree{
				width: 178px;height: 30px;line-height: 30px;
				border: 1px solid #0096dc;
				color: #0096dc;text-align: center;border-radius: 4px;font-size: 14px;
				display: inline-block;margin: 0 8px;
			}	
		}
		.setp-2{
			display: none;
			font-size: 12px;margin-top: 10px;
			.warning{
				input,select,.chosen-single{
					border:1px solid #c92e2c;
				}
			}
			.input-selected{
				input{color: #d0d6d3;}
			}
			div.line, div.line1{
				width: 80%;margin: 0 auto;
				position: relative;//overflow: hidden;
				padding-left: 126px;margin-bottom: 22px;
				padding-right: 60px;
				
				p{
					position: absolute;left: 0;line-height: 32px;
					span{
						color: #f74431;
						display: inline-block;
						text-align: left;
						width: 6px;
					}
					&.two{line-height: 16px;}
				}
				p.warning{color: #c92e2c;left: auto;line-height: 18px;width: auto;}
				&.line1{padding-right: 0;}
				.box50{
					width: 50%;
					position: relative;
					float: left;padding-left: 70px;margin-left: -70px;margin-right: 10px;
					p{
						width: 60px;
						text-align: center;
					}
					&.box50-2{
						margin-right: 0;margin-left: 0;
					}
					p.warning{width: auto;}
				}
				.chosen-container{
					text-align: left;font-size: 12px;
				}	
			}
			.box3.line{
				.address{
					position: relative;margin-right: 2%;width: 20%;float: left;

				}
				p.warning{
					left: 0;top: 32px;

				}
				//overflow: hidden;
				
				.box1{
					position: absolute;right: 60px;
					width: 18%;
					p{left: -45%;}
					input{width: 100%;}
					p.warning{left: 0;top: 32px;}
				}
			}
			
			a.btn-submit{
				width: 178px;height: 30px;line-height: 30px;
				background-color: #0096dc;
				color: #ffffff;text-align: center;border-radius: 4px;font-size: 14px;
				display: inline-block;margin: 0 8px;
			}
			a.btn-save{
				width: 178px;height: 30px;line-height: 30px;
				border: 1px solid #0096dc;
				color: #0096dc;text-align: center;border-radius: 4px;font-size: 14px;
				display: inline-block;margin: 0 8px;
			}	
			
		}
		.setp-3{
			display: none;
			div.content{
				max-width: 550px;margin: 0 auto;overflow: hidden;padding-left: 94px;
				font-size: 12px;
				background: url(../images/recruit/reg-ok.png) 0 0 no-repeat;	
			}
			
			h2{
				color: #0096dc;font-size: 24px;font-weight: bold;margin-top: 34px;margin-bottom: 30px;
			}
			h3{
				text-align: left;font-weight: bold;margin-bottom: 10px; a,span{color: #0097dc}
		}
			p{text-align: left;margin-bottom: 24px; span{color: #0097dc}}
		}
	}

	&.find_pwd{
		background-color: #f1f2f4;overflow: hidden;padding-bottom: 54px;
		.content{
			width: 440px;
			margin: 56px auto;
			background: url(../images/recruit/pwd-bg.png) 0 46px  no-repeat;
			padding-left: 142px;font-size: 12px;
			h2{
				font-weight: bold;font-size: 24px;margin-bottom: 20px;
				float: left;margin-left: 36px;
			}
			.line{
				padding-right: 93px;
				position: relative;
				margin-bottom: 24px;
				a.btn-getcode{
					width: 87px;height: 29px;line-height: 29px;
					color: #ffffff;background-color: #0096dc;
					position: absolute;top: 1px;right: 0;
					border-radius: 4px;
					text-decoration: none;
					&.no-click{
						background-color: #bdc3c6;
						color: #878e96;border: 1px solid #878e96;
					}
				}
				p.warning{
					color: #c92e2c;position: absolute;
				}
			}
			a.btn-next{
				width: 178px;height: 30px;line-height: 30px;
				color: #ffffff;background-color: #0096dc;
				display: inline-block;float: left;
				text-decoration: none;border-radius: 4px;font-size: 14px;
			}
		}
	}

	&.reset_pwd{
		background-color: #f1f2f4;overflow: hidden;padding-bottom: 54px;
		.content{
			width: 440px;
			margin: 56px auto;
			background: url(../images/recruit/resetpwd-bg.png) 0 46px  no-repeat;
			padding-left: 100px;font-size: 12px;
			h2{
				font-weight: bold;font-size: 24px;margin-bottom: 20px;
				float: left;margin-left: 96px;
			}
			.line{
				padding-left: 60px;
				position: relative;
				margin-bottom: 24px;
				p{position: absolute;left: 0;top: 0;line-height: 32px;}
				a.btn-getcode{
					width: 87px;height: 29px;line-height: 29px;
					color: #ffffff;background-color: #0096dc;
					position: absolute;top: 1px;right: 0;
					border-radius: 4px;
					text-decoration: none;
					&.no-click{
						background-color: #bdc3c6;
						color: #878e96;border: 1px solid #878e96;
					}
				}
				p.warning{
					color: #c92e2c;position: absolute;top: 32px;left: 60px;
					line-height: 20px;
				}
			}
			a.btn-submit{
				width: 178px;height: 30px;line-height: 30px;
				color: #ffffff;background-color: #0096dc;
				display: inline-block;float: left;margin-left: 60px;
				text-decoration: none;border-radius: 4px;font-size: 14px;
			}	
		}
	}
}
#reg-ok{
	
	.popup-content{
		background: url(../images/recruit/reg-ok.png) 62px 58px no-repeat #ffffff;	
		.content-box{
			margin-left: 174px;margin-right: 174px;overflow: hidden;
			h3{color: #0096dc;font-size: 24px;margin-top: 20px;}
			a.btn-login{
				display: inline-block;
				width: 178px;height: 30px;line-height: 30px;
				color: #ffffff;border-radius: 4px;font-size: 14px;
				background-color: #0096dc;
			}
			p{font-size: 12px;margin: 32px 0;}
		}
	}
}
#save-ok{
	.popup-content{
		background: url(../images/recruit/reg-ok.png) 62px 58px no-repeat #ffffff;
		.content-box{
			margin-left: 174px;margin-right: 174px;overflow: hidden;min-width: 380px;
			h3{color: #0096dc;font-size: 24px;margin-top: 20px;}
			a.btn-back{
				width: 178px;height: 30px;line-height: 30px;
				background-color: #0096dc;
				color: #ffffff;text-align: center;border-radius: 4px;font-size: 14px;
				display: inline-block;margin: 0 8px;
			}
			a.btn-record{
				width: 178px;height: 30px;line-height: 30px;
				border: 1px solid #0096dc;
				color: #0096dc;text-align: center;border-radius: 4px;font-size: 14px;
				display: inline-block;margin: 0 8px;
			}	
			p{font-size: 12px;margin: 32px 0;}
		}
	}
}
#clause-content{
	.popup-content{
		background-color: #2e3438;
		color: #ffffff;
		text-align: left;
		max-width: 64%;min-width: auto;
		a.popup-close{
			background: url(../images/popup-close2.png);
			width: 35px;height: 35px;
		}
		.content-box{
			margin: 0;
		}
		h3{
			border-bottom: 2px solid #6d7175;
			font-size: 24px;
			padding-left: 30px;padding-top: 18px;padding-bottom: 12px;
		}
		p{font-size: 12px;line-height: 20px;padding: 40px 30px;padding-bottom: 60px;}
	}
}

#mod-pwd{
	.popup-content{
		font-size: 12px;text-align: left;
		background: url(../images/recruit/mod-pwd.png) 60px 96px no-repeat #ffffff;
		width: 574px;height: 370px;
		margin-left: -287px;margin-top: -185px;
		h3{font-size: 24px;font-weight: bold;text-align: center;}
		.content-box{
			margin: 54px 154px;margin-right: 90px;
		}
		.line{
			margin-top: 30px;
			padding-left: 50px;
			position: relative;
			p{position: absolute;left: 0;line-height: 32px;}
			input{width: 279px;}
			p.warning{
				line-height: 20px;left: 50px;
				color: #c92e2c;
				//display: none;
			}
		}
		a.mod-pwd-submit{
			display: inline-block;
			width: 178px;height: 30px;line-height: 30px;
			color: #ffffff;
			background-color: #0096dc;border-radius: 4px;font-size: 14px;
			text-align: center;
		}
	}
}


// @media screen and (max-width:768px){
// 	.sub_nav{
// 		.login-box{
// 			p{display: none;}
// 		}	
// }
//     #recruit{
// 		padding-top: 40px;
		
// 	}
    
// }

// @media screen and (max-width:640px){

//     #recruit{
// 		padding-top: 0px;
		
// 	}
    
// }