html,body{
	width: 100%;height: 100%;
}
#container{
	.mainbody{
		.popup{
			width: 100%;height: 100%;
			position: absolute;top: 0;left: 0;
			background: url(../images/popup-bg.png);
			display: none;
			a.popup-close{
				background: url(../images/dealer-popup-close.png);
				width: 35px;height: 35px;
				position: absolute;right: 16px;top: 16px;
			}
		}
		#popup-clause{
			//display: block;
			.popup-clause-content{
				width: 64%;
				position: absolute;top: 30%;left: 50%;margin-left: -32%;
				background-color: #2e3438;
				color: #ffffff;
				a.popup-close{
					background-image: url(../images/popup-close2.png);
				}
				h2{
					border-bottom: 2px solid #6d7174;height: 78px;line-height: 78px;padding-left: 32px;
					font-size: 30px;
				}
				p{
					padding: 52px 38px;font-size: 16px;line-height: 28px;
				}
			}
		}
		.top_link{
			min-width: 904px;
			.navbar-right{
				float: right !important;margin: 0;margin-right: 3%;
				li{float: left;}
			}
		}
		.dealer-right{
			width: 428px;height: 100%;background-color: #ffffff;
			position: absolute;right: 0;top: 0;
			padding-top: 91px;
			.testdrive-title{
				font-size: 24px;color: #ffffff;text-align: center;
				height: 86px;line-height: 86px;width: 100%;
				background-color: #1597d9;
				position: absolute;z-index: 1;
			}
			.testdrive-form{
				width: 100%;height: 100%;

				z-index: 10;
				color: #414742;
				overflow: auto;
				padding-left: 30px;padding-top: 112px;
				
				#popup-ok{
					.popup-content{
						position: absolute;top: 50%;left: 0;margin-top: -70px;
						width: 100%;height: 230px;
						background: #ffffff;color: #414742;text-align: center;
						padding-top: 42px;
						h2{
							font-size: 30px;
						}
						p{
							font-size: 14px;line-height: 26px;
						}
						a.ok{
							width: 148px;height: 42px;line-height: 42px;color: #ffffff;
							display: inline-block;
							font-size: 18px;text-align: center;
							border-radius: 4px;background-color: #019ada;
							margin-top: 20px;
						}
					}
									}
				#popup-busy{
					.popup-content{
						position: absolute;top: 50%;left: 0;margin-top: -70px;
						width: 100%;height: 230px;
						background: #ffffff;color: #414742;text-align: center;
						padding-top: 42px;
						h2{
							font-size: 30px;margin-top: 60px;
						}
					}
				}
				p{font-size: 16px; span{color: #f54336;}}
				select{width: 366px;}
				.chosen-container{margin-bottom: 3px;}
				.chosen-container-single .chosen-single{
					box-shadow: none;
					padding: 0 12px 0 12px;
				}
				.chosen-container-single .chosen-drop{
					margin-top: -4px;
				}
				.chosen-container-single .chosen-single div{
					width: 20px;right: 16px;
				}

				.chosen-container-single .chosen-single div b{
					background: url(../images/select-bg.png) top left no-repeat;
				}
				.chosen-container-active.chosen-with-drop .chosen-single div b{
					background-position: 0 -44px;
				}
				.chosen-single{
					height: 44px;
					background: #ffffff;
					border:1px solid #dee1e3;
					border-radius: 4px;
					line-height: 44px;
					font-size: 16px;
				}
				.line.must.warning{
					.chosen-single,input{
						border:1px solid #c82e2d;
					}
					
				}
				.chosen-container .chosen-drop{
					border:1px solid #dee1e3;
					box-shadow: none;
				}
				.chosen-container .chosen-results {
					padding: 0;margin: 0;
				}
				.chosen-container .chosen-results li{
					height: 44px;line-height: 44px;
					font-size: 16px;padding: 0 12px;
					color: #000000;
					&:nth-of-type(odd){
						background: #f3f5f6;
					}
				}
				.chosen-container .chosen-results li.highlighted{
					background: #1597d9;
				}

				input{
					width: 366px;height: 44px;
					background: #ffffff;
					border:1px solid #dee1e3;
					border-radius: 4px;
					line-height: 44px;
					font-size: 16px;
					padding: 0 12px;
				}
				.line{
					margin-bottom: 22px;
					position: relative;
					&.warning{
						p.warning{display: block;}
					}
					p.warning{
						position: absolute;bottom: -30px;
						font-size: 12px;color: #c82e2d;
						display: none;
					}
					p{margin-bottom: 10px;}
					&.sex{
						p{float: left;height: 30px;line-height: 30px;}
						span.sex{
							display: inline-block;
							width: 60px;height: 32px;line-height: 32px;padding-left: 42px;margin-left: 24px;
							background: url(../images/testdrive-check.png) no-repeat;
							cursor: pointer;
							&.selected{
								background-position: 0 -32px;
							}
						}
					}
					&.clause{
						line-height: 32px;
						a{color: #0099da;font-size: 14px;text-decoration: underline;line-height: 32px;display: inline-block;}
					}
					span.radio{
						width: 32px;height: 32px;
						background: url(../images/radio.png);
						background-position: 0 -32px;
						cursor: pointer;
						float: left;margin: 0; margin-right: 14px;
						&.selected{
							background-position: 0 0 ;
						}
					}
					a#submit{
						font-size: 18px;color: #ffffff;background-color: #0099da;
						width: 148px;height: 42px;line-height: 42px;
						text-align: center;
						display: inline-block;
						border-radius: 4px;margin-left: 109px;
					}
				}
				
			}
		}
		.dealer-map{
			position: absolute;left: 0;top: 0;
			width: 100%;height: 100%;
			padding-right: 428px;padding-top: 91px;
			#dealer-map{
				width: 100%;height: 100%;
				.anchorBL{display:none}
			}
			.dealer-popup{
				position: absolute;top: 100px;left: 200px;
				width: 575px;height: 324px;
				background: url(../images/dealer-popup-bg.png);
				a.dealer-popup-close{
					position: absolute;top: 24px;right: 26px;
					width: 35px;height: 35px;
				}
			}
		}
	}
}