html,body{
	width: 100%;height: 100%;
}
#container{
	overflow: hidden;
	overflow-y: scroll;
	 -webkit-overflow-scrolling : touch;

	.testdrive-mobile-form{//display: none;
		background-color: #f3f5f6;
		overflow: hidden;
		//padding-bottom: 20px;
		h2{
			width: 100%;height: 50px;line-height: 50px;
			color: #ffffff;font-size: 18px;
			padding: 0 15px;
			text-align: center;
			background: url(../images/icon-h2-arrow.png) 15px center no-repeat #0099da;
			position: relative;
			a.btn-back{
				height: 50px;width: 50px;
				position: absolute;left: 0;
			}
		}
		.note{
			padding: 0 15px;margin-top: 10px;margin-bottom: 10px;
			p{color: #414742;}
			p:nth-child(1){font-size: 15px;line-height: 28px;}
			p:nth-child(2){
				font-size: 12px;line-height: 18px;
				a{color: #0099da;text-decoration: underline;}
			}
		}
		.line,.line-map{
			padding: 0 15px;margin-bottom: 22px;
			p{font-size: 16px; span{color: #f54336;}}
			a#btn-map{
				display: block;
				overflow: hidden;
				img{float: left;width: 100%;}
			}

		}
		.line.must.warning{
			select,input{
				border:1px solid #c82e2d;
			}
			
		}
		select,input{
			width: 100%;
			height: 44px;
			background: #ffffff;
			border:1px solid #dee1e3;
			border-radius: 4px;
			line-height: 44px;
			font-size: 16px;
			padding: 0 12px;
			-webkit-appearance:none;
			color: #414742;
		}
		
		select{
			background: url(../images/select-mob-bg.png) top right no-repeat #ffffff;
			margin-bottom: 3px;
			color: #999;
		}
		.line{
			margin-bottom: 22px;
			position: relative;
			&.warning{
				p.warning{display: block;}
			}
			p.warning{
				position: absolute;bottom: -30px;
				font-size: 12px;color: #c82e2d;
				display: none;
			}
			p{margin-bottom: 10px;}
			&.sex{
				p{float: left;height: 30px;line-height: 30px;}
				span.sex{
					display: inline-block;
					width: 60px;height: 32px;line-height: 32px;padding-left: 42px;margin-left: 24px;
					background: url(../images/testdrive-check.png) no-repeat;
					cursor: pointer;
					&.selected{
						background-position: 0 -32px;
					}
				}
			}
			&.clause{
				line-height: 32px;
				a{color: #0099da;font-size: 14px;text-decoration: underline;line-height: 32px;display: inline-block;}
			}
			span.radio{
				width: 32px;height: 32px;
				background: url(../images/radio.png);
				background-position: 0 -32px;
				cursor: pointer;
				float: left;margin: 0; margin-right: 14px;
				&.selected{
					background-position: 0 0 ;
				}
			}
			a#submit{
				font-size: 18px;color: #ffffff;background-color: #0099da;
				width: 148px;height: 42px;line-height: 42px;
				text-align: center;
				display: inline-block;
				border-radius: 4px;margin-left: 109px;
			}
		}
	}
	.popup{
		background: rgba(0,0,0,0.8);
		position: fixed;top: 0;left: 0;
		width: 100%;height: 100%;
		display: none;
		&#popup-map{
			position: absolute;
			padding-top: 60px;
			.popup-map-top{
				position: absolute;top: 0;
				height: 60px;width: 100%;overflow: hidden;
				h2{color: #ffffff;font-size: 18px;float: left;height: 60px;line-height: 60px;margin-left: 15px;}
				a{float: right;display: inline-block;color: #0099da;height: 60px;line-height: 60px;margin-right: 15px;font-size: 18px;}
			}
			#dealer-map{
				width: 100%;height: 100%;

			}
		}
		&#popup-clause{
			color: #ffffff;
			padding: 0 15px;
			a.popup-close{
				width: 28px;height: 28px;
				background: url(../images/dealer-popup-close.png);
				position: absolute;top: 17px;right: 15px;
				background-size: 100% 100%;
			}
			h2{
				font-size: 24px;margin-top: 17px;
				margin-bottom: 30px;
			}
			p{
				font-size: 14px;line-height: 24px;
			}
		}
		&#popup-ok{
			
			background-color: rgba(0,0,0,0.3);
			div.content{
				width: 214px;height: 160px;text-align: center;
				background-color: #f3f5f6;
				position: fixed;top: 50%;left: 50%;margin-left: -107px;margin-top: -80px;
				padding-top: 30px;
				h3{font-size: 16px;}
				p{font-size: 12px;line-height: 20px;margin-top: 8px;}
				a.btn{
					color: #fff;
					width: ;height: 44px;
					text-align: center;
					display: inline-block;
					background-color: #0099da;
					font-size: 14px;
					width: 140px;margin-top: 10px;
				}
				a.popup-close{
					width: 28px;height: 28px;
					background: url(../images/dealer-popup-close.png);
					position: absolute;top: 10px;right: 10px;
					background-size: 100% 100%;
				}
			}
		}
		&#popup-busy{
			background-color: rgba(0,0,0,0.3);
			div.content{
				width: 214px;height: 120px;text-align: center;
				background-color: #f3f5f6;
				position: fixed;top: 50%;left: 50%;margin-left: -107px;margin-top: -60px;
				padding-top: 30px;
				h3{font-size: 16px;margin-top: 20px;}
				
				a.popup-close{
					width: 28px;height: 28px;
					background: url(../images/dealer-popup-close.png);
					position: absolute;top: 10px;right: 10px;
					background-size: 100% 100%;
				}
			}
		}
	}
}