<div id="container">
<!--************ 主导航包含 start  ************--->
    <!-- 主导航 -->
    <div id="main_nav">
        <ul>
		<li class="logobox"><a href="http://vw.faw-vw.com/"><img
				src="angularweb/assets/images/Logo_new.png" width="60" height="79"></a></li>
		<li><a href="http://vw.faw-vw.com/">
				<div class="nav_size lefticon icon-car"></div> <span>{{translation.general.OverviewOfModels}}</span>
		</a></li>
		<li><a href="http://ibuy.faw-vw.com/Official/">
				<div class="nav_size lefticon icon-findadealer"></div> <span>{{translation.general.PeopleLookForTheCar}}</span>
		</a></li>
		<li><a href="http://ibuy.faw-vw.com/Official/">
				<div class="nav_size lefticon icon-importer"></div> <span>{{translation.general.VolkswagenBrand}}</span>
		</a></li>
		<li><a href="http://vw.faw-vw.com/newmagotanmycar">
				<div class="nav_size lefticon icon-dealer"></div> <span>{{translation.general.CentreOwners}}</span>
		</a></li>
		<li><a href="#">
				<div class="nav_size lefticon icon-more"></div> <span>{{translation.general.More}}</span>
		</a></li>

	</ul>
    </div>
    <!-- 手机顶部logo及导航三线按钮 -->
    <div id="mobile_nav">
        <div class="logobox"><img src="images/Logo_new.png"></div>
        <div class="burger_menu">
            <div class="burger_line"></div>
            <div class="burger_line"></div>
            <div class="burger_line"></div>
        </div>
    </div>
    <!-- 主导航 更多内容 移动端主导航内容 -->
    <div id="main_nav_more" data-count="1">
        <div class="mobile_nav_shadow"></div>
        <div class="desktop-searchbox">
            <div class="fancy-input">
                <span class="vwicon icon-searchglass"></span>
                <div class="input-wrapper-search">
                    <input type="text" value="search" name="searchtxt" class="searchformtext" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <ul>
            <li>
                <a href="http://vw.faw-vw.com/">
                    <div class="nav_size vwicon icon-car"></div>
                    <span>车型总览</span>
                </a>
            </li>
            <li>
                <a href="http://ibuy.faw-vw.com/Official/">
                    <div class="nav_size vwicon icon-findadealer"></div>
                    <span>众里寻车</span>
                </a>
            </li>
            <li>
                <a href="http://ibuy.faw-vw.com/Official/">
                    <div class="nav_size vwicon icon-importer"></div>
                    <span>大众品牌</span>
                </a>
            </li>
            <li>
                <a href="http://vw.faw-vw.com/newmagotanmycar">
                    <div class="nav_size vwicon icon-dealer" ></div>
                    <span>车主中心</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="nav_size vwicon icon-more"></div>
                    <span>更多</span>
                </a>
            </li>
        </ul>
        <!--<div style="width: 100%; background-color: #B6BDD2; height: 50px;"></div>-->
    </div>
<!--************ 主导航包含 end  ************--->

    <!-- 主体内容 -->
    <div class="container-fluid mainbody">
        <div class="mask"></div>
        <div class="top_link">
            <div class="container-fluid toolsbox">
                <ul class="nav navbar-nav navbar-left">
                    <li class="car_name">申请贷款</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="toolslink">
                        <a href="http://vw.faw-vw.com/newmagotanorder">
                            <div><span class="icon-testdrive"></span></div>
                            <span class="atext">预约试驾</span>
                        </a>
                    </li>
                    <li class="toolslink">
                        <a href="http://vw.faw-vw.com/newmagotanmydealer">
                            <div><span class="icon-searchdealer"></span></div>
                            <span class="atext">经销商查询</span>
                        </a>
                    </li>
                    <li class="toolslink">
                        <a href="http://kf02.faw-vw-dns.com/new/client.php?arg=faw-vw&style=1">
                            <div><span class="icon-support"></span></div>
                            <span class="atext">在线客服</span>
                        </a>

                    </li>
                </ul>
            </div>
        </div>

        <!-- 自定义内容开始 -->
        <div class="apply_loan">
            <div class="mobile-title">申请贷款</div>
            <h2>提交您的申请信息,我们将会为您安排经销商<br />为您提供购车贷款服务</h2>
            
            <div class="line">
                <p class="title"><strong>*以下皆为必填信息</strong></p>
                <strong>意向车型: {{applyLoan.car_name}}</strong>
            </div>
            <div class="line">
                <p class="title">意向金融方案</p>
                <div class="plan">
                    <strong>{{applyLoan.bank_name}}-{{applyLoan.product_name}}</strong><br />总共支付 : <strong>¥{{applyLoan.total_payment}}</strong>   首付金额 : <strong>¥ {{applyLoan.down_payment}}</strong>     贷款期限 : <strong>{{applyLoan.loan_tenure}}个月</strong>     利息 : <strong>¥{{applyLoan.interest}}</strong>
                </div>
            </div>
            <div class="line two">
                <p class="title">选择经销商</p>
                <div class="select-box">
                	<select chosen
					        inherit-select-classes="true"
					        data-placeholder={{translation.general.Province}}
					        disable-search="true"
					        allow-single-deselect="true"
					        ng-model="applyLoan.dealer_province"
					        ng-options="p.province_name as p.province_name for p in provinces"							
					        id="province_name"
					        on-change="changeCityList">	
					        <option value='' disabled selected  style="display: none;">{{translation.general.Province}}</option>				        					        			          
					      </select>
                    <!-- <select name="" id="" data-placeholder="请选择省份">
                        <option value="">请选择省份</option>
                        <option value="北京">北京</option>
                    </select>  -->
                    <p class="warning" style="color: #c92e2c;">*请选择省份</p>
                </div>
                <div class="select-box right">
                <select chosen
					        inherit-select-classes="true"
					        data-placeholder={{translation.general.City}}
					        disable-search="true"
					        allow-single-deselect="true"
					        ng-model="applyLoan.dealer_city"
					        ng-options="c.city_name as c.city_name for c in cities"
							id="city_name"
							on-change="changeDealerList" >		
						   <option value='' disabled selected  style="display: none;">{{translation.general.City}}</option>										          
					      </select>
                   <!--  <select name="" id="" data-placeholder="请选择城市">
                        <option value="">请选择城市</option>
                        <option value="北京">北京</option>
                    </select> -->
                    <p class="warning" style="color: #c92e2c;">*请选择城市</p>
                </div>
            </div>
            <div class="line select-box">
                <p></p>
                <select chosen
					        inherit-select-classes="true"
					        data-placeholder={{translation.general.Dealer}}					        
					        disable-search="true"
					        allow-single-deselect="true"
					        ng-model="applyLoan.dealer"
					        ng-options="d.id as d.full_name for d in dealers"
							id="dealer"
							on-change="">	
							<option value='' disabled selected  style="display: none;">{{translation.general.Dealer}}</option>				          
					    </select>	
               <!--  <select name="" id="" data-placeholder="请选择意向经销商">
                    <option value="">请选择意向经销商</option>
                    <option value="经销商1">经销商1</option>
                </select> -->
                <p class="warning" style="color: #c92e2c;">*请选择意向经销商</p>
            </div>
            <div class="line two">
                <p class="title">真实姓名</p>
                <div class="input-box">
                    <input type="text" ng-model="applyLoan.name" placeholder="请输入您的姓名">
                    <p class="warning" style="color: #c92e2c;">*请输入您的姓名</p>
                </div>
                <div class="select-box right">
                    <select name="" id="title" ng-model="applyLoan.title" data-placeholder="请选择称谓">
                        <option value='' disabled selected  style="display: none;">请选择称谓</option>
                        <option value="先生">先生</option>
                        <option value="先生">女士</option>
                    </select>
                    <p class="warning" style="color: #c92e2c;">*请选择称谓</p>
                </div>
            </div>
            <div class="line input-box">
                <p class="title">手机号码</p>
                <input type="tel" maxlength="11" ng-model="applyLoan.phone" placeholder="请输入手机号码">
                <p class="warning" style="color: #c92e2c;">*请输入手机号码</p>
            </div>
            <div class="line select-box">
                <p class="title">预计购车时间</p>
                <select chosen
					        inherit-select-classes="true"	
					        data-placeholder={{translation.testDrive.ExpectedTimeOfPurchase}}				        
					        disable-search="true"
					        allow-single-deselect="true"
					        ng-model="applyLoan.expected_purchase_time"					       
							id="expected_purchase_time"
							>					
						<option value={{translation.testDrive.WithinAWeek}}>{{translation.testDrive.WithinAWeek}}</option>
						<option value={{translation.testDrive.WithinAMonth}}>{{translation.testDrive.WithinAMonth}}</option>
						<option value={{translation.testDrive.WithinThreeMonths}}>{{translation.testDrive.WithinThreeMonths}}</option>
						<option value={{translation.testDrive.MoreThanSixMonths}}>{{translation.testDrive.MoreThanSixMonths}}</option>
					</select>
                <p class="warning" style="color: #c92e2c;">*请选择预计购车时间</p>
            </div>
            <!-- <div class="subscription check-box23">
                <span class="check"></span>
                <p>我希望得到关于高尔夫 R-Line的信息</p>
            </div> -->
            <div class="clear"></div>
            <a href="javascript:;" ng-click="submitApplyLoan()" class="submit">提交</a>

            
        </div>
        <!-- 自定义内容结束 -->
        <!--#include file="footer.shtml" -->
    </div>
    <div class="popup" id="reg-ok">
        <div class="popup-content">
            <a href="javascript:;" class="popup-close"></a>
            <div class="content-box"></div>
        </div>
    </div>
</div>

