<!-- <!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="style/bootstrap.css" rel="stylesheet">
    [if lt IE 9]>
        <script src="js/css3-mediaqueries.js"></script>
        <script src="js/html5shiv.min.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]
    <link href="style/animate.css" rel="stylesheet">
    <link href="style/common.css" rel="stylesheet">
    <link href="style/compare.css" rel="stylesheet">
    <title>车型对比</title>

</head>
<body>



<div id="container"> -->
<!--************ 主导航包含 start  ************--->
<link href="angularweb/assets/css/animate.css" rel="stylesheet" />	
<link href="angularweb/assets/css/compare-debug.css" rel="stylesheet" />	
<style>
</style>
    <!-- 主导航 -->
    <div id="main_nav" style="position: fixed;">
        <ul>
            <li class="logobox"><a href="http://vw.faw-vw.com/"><img src="angularweb/assets/images/Logo_new.png" width="60" height="79"></a></li>
            <li>
                <a href="http://vw.faw-vw.com/">
                    <div class="nav_size lefticon icon-car"></div>
                    <span>{{translation.general.OverviewOfModels}}</span>
                </a>
            </li>
            <li>
                <a href="http://ibuy.faw-vw.com/Official/">
                    <div class="nav_size lefticon icon-findadealer"></div>
                    <span>{{translation.general.PeopleLookForTheCar}}</span>
                </a>
            </li>
            <li>
                <a href="http://ibuy.faw-vw.com/Official/">
                    <div class="nav_size lefticon icon-importer"></div>
                    <span>{{translation.general.VolkswagenBrand}}</span>
                </a>
            </li>
            <li>
                <a href="http://vw.faw-vw.com/newmagotanmycar">
                    <div class="nav_size lefticon icon-dealer" ></div>
                    <span>{{translation.general.CentreOwners}}</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="nav_size lefticon icon-more"></div>
                    <span>{{translation.general.More}}</span>
                </a>
            </li>

        </ul>
    </div>
    <!-- 手机顶部logo及导航三线按钮 -->
    <div id="mobile_nav">
        <div class="logobox"><img src="angularweb/assets/images/Logo_new.png"></div>
        <div class="burger_menu">
            <div class="burger_line"></div>
            <div class="burger_line"></div>
            <div class="burger_line"></div>
        </div>
    </div>
    <!-- 主导航 更多内容 移动端主导航内容 -->
    <div id="main_nav_more" data-count="1">
        <div class="mobile_nav_shadow"></div>
        <div class="desktop-searchbox">
            <div class="fancy-input">
                <span class="vwicon icon-searchglass"></span>
                <div class="input-wrapper-search">
                    <input type="text" value="search" name="searchtxt" class="searchformtext" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <ul>
            <li>
                <a href="http://vw.faw-vw.com/">
                    <div class="nav_size vwicon icon-car"></div>
                    <span>{{translation.general.OverviewOfModels}}</span>
                </a>
            </li>
            <li>
                <a href="http://ibuy.faw-vw.com/Official/">
                    <div class="nav_size vwicon icon-findadealer"></div>
                    <span>{{translation.general.PeopleLookForTheCar}}</span>
                </a>
            </li>
            <li>
                <a href="http://ibuy.faw-vw.com/Official/">
                    <div class="nav_size vwicon icon-importer"></div>
                    <span>{{translation.general.VolkswagenBrand}}</span>
                </a>
            </li>
            <li>
                <a href="http://vw.faw-vw.com/newmagotanmycar">
                    <div class="nav_size vwicon icon-dealer" ></div>
                    <span>{{translation.general.CentreOwners}}</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="nav_size vwicon icon-more"></div>
                    <span>{{translation.general.More}}</span>
                </a>
            </li>
        </ul>
        <!--<div style="width: 100%; background-color: #B6BDD2; height: 50px;"></div>-->
    </div>
<!--************ 主导航包含 end  ************--->

    <!-- 主体内容 -->
    <div class="container-fluid mainbody">
        <div class="mask"></div>

        <!-- 自定义内容开始 -->
        <div id="compare">
        	<div class="selected-models" id="selected-models">
                <a href="javascript:" class="btn-back"></a>
                <a href="javascript:" class="btn-close"></a>
                <h2>{{translation.general.compareFavModel}}</h2>                
                <ul ng-class="getSelectCarModelClass()">                
                    <li ng-if="selectedModels.length > 0"  ng-repeat="selModel in selectedModels" class="car-box selected show">
                		<a href="javascript:;" class="del" ng-click="removeSelectedCar(selModel,$event)"></a>
                         <img ng-src="angularweb/assets/images/CarModelImages/{{getModelImage(selModel)}}" alt="" class="pic">
                         <div class="name">{{selModel.name}}</div>
                         <div class="price">¥{{selModel.rrp}}</div>
                    	<a href="javascript:;" class="btn-testdrive" ng-click="registerForTestDrive(selModel.series_code,$index)">{{translation.general.ArrangeATestDrive}}</a><br>
                    	<a ng-href="#{{onViewCarDetails(selModel)}}" class="btn-view-car">{{translation.general.viewCarDetails}}</a>
                    </li> 
                    <li ng-repeat="i in getBlankCarBoxes()" class="car-box"></li>                    
                    <div class="icon1 icon"></div>
                    <div class="icon2 icon"></div>
                    <div ng-if="showAddCar()" class="icon add" ng-click="addCarToCompare()"></div>
                </ul>                
            </div>
            
            <div class="models-list" id="models-list" ng-hide="showCompareResult()">
                <h2>{{translation.general.chooseModeltoCompare}}</h2>
                <ul id="models-list row">
                    <li ng-repeat="(index1, series) in allSeriesAndModels" ng-class="getSeriesLiClass(index1)" ng-style="series.s_selected == true ? { 'height':'300px'} : { }">
                        <div class="models-content" ng-click="onSeriesClicked(index1, $event)">
                            <img ng-src="angularweb/assets/images/CarModelImages/{{series.code}}.png" alt="" class="pic">
                            <div class="name">{{series.name}}</div>    
                        </div>
                        <div class="this-style">
                            <ul id="style-list row">
                                <li ng-repeat="model in series.listModel" class="col-xs-6 col-md-4 col-lg-3" ng-click="onModelClicked(model, index1)">
                                     <div class="style-content" car-id="model.code" >
                                        <img ng-src="angularweb/assets/images/CarModelImages/{{series.code}}.png" alt="" class="pic">
                                        <div class="name">{{model.name}}</div>
                                        <div class="price">¥{{model.rrp}}</div>
                                    </div>   
                                </li>                                
                             </ul>
                          </div>
 					</li>
                 </ul>
                 
             </div>
            
            <div class="compare-result" id="compare-result" ng-show="showCompareResult()">
                <div class="nav-box">
                    <div class="nav">
                        <a href="#jbcs" class="active anchorlink">{{translation.general.basicParameter}}</a>
                        <a href="#wgpz" class="anchorlink">{{translation.general.appearenceConf}}</a>
                        <a href="#nspz" class="anchorlink">{{translation.general.interiorConf}}</a>
                        <a href="#aqkj" class="anchorlink">{{translation.general.safetyTech}}</a>
                        <a href="#sskj" class="anchorlink">{{translation.general.comfortTech}}</a>
                    </div>
                    <div class="nav-mobile">
                        <a href="javascript:;" class="btn-select" sid='1'>{{translation.general.basicParameter}}</a>
                        <ul>
                            <li sid='1'><a href="#jbcs" class="active m_anchorlink">{{translation.general.basicParameter}}</a></li>
                            <li sid='2'><a href="#wgpz" class="m_anchorlink">{{translation.general.appearenceConf}}</a></li>
                            <li sid='3'><a href="#nspz" class="m_anchorlink">{{translation.general.interiorConf}}</a></li>
                            <li sid='4'><a href="#aqkj" class="m_anchorlink">{{translation.general.safetyTech}}</a></li>
                            <li sid='5'><a href="#sskj" class="m_anchorlink">{{translation.general.comfortTech}}</a></li>
                        </ul>                       
                        <a href="javascript:;" ng-class="hideSameChkboxClass()" ng-click="hideSameClicked()">{{translation.general.hidethesame}}</a>
                    </div>
                    <div class="button">
                        <span><img src="angularweb/assets/images/compare/icon3.png" >{{translation.general.standard}}</span>
                        <span><img src="angularweb/assets/images/compare/icon2.png" >{{translation.general.optional}}</span>
                        <span><img src="angularweb/assets/images/compare/icon4.png" >{{translation.general.no}}</span>
                        <a href="javascript:;" ng-class="hideSameChkboxClass()" ng-click="hideSameClicked()">{{translation.general.hidethesame}}</a>
                    </div>    
                </div>
                
                <div id="result-box" ng-class="getSelectCarModelClass()">
                	<table class="details">
				   		<tr>
				      		<td class="config_title" colspan="{{getResultColspan()}}"><a id="jbcs" name="jbcs"></a>{{translation.general.basicParameter}}</td>
				   		</tr>
				   		<tr ng-hide="hideSame(basic)" ng-repeat="basic in compareResults.basics" ng-style="{1:{background:'#fff'},0:{background: '#f3f5f6'}}[$index%2]">
                    		<td>
						    	<p ng-bind-html="renderHtml(basic.car1.value)"></p>
						        <span>{{basic.parameterName}}</span>
						    </td>
						    <td>
						    	<p ng-bind-html="renderHtml(basic.car2.value)"></p>
						        <span>{{basic.parameterName}}</span>
						   	</td>
						   	<td ng-if="displayCar3()">
						    	<p ng-bind-html="renderHtml(basic.car3.value)"></p>
						        <span>{{basic.parameterName}}</span>
						   	</td>
                    	</tr>
				   		<tr>
      						<td class="config_title" colspan="{{getResultColspan()}}"><a id="wgpz" name="wgpz"></a>{{translation.general.appearenceConf}}</td>
  						</tr>
  						<tr ng-hide="hideSame(ext)" ng-repeat="ext in compareResults.exteriors" ng-style="{1:{background:'#fff'},0:{background: '#f3f5f6'}}[$index%2]">
                    		<td>
						    	<p ng-bind-html="renderHtml(ext.car1.value)"></p>
						        <span>{{ext.parameterName}}</span>
						    </td>
						    <td>
						    	<p ng-bind-html="renderHtml(ext.car2.value)"></p>
						        <span>{{ext.parameterName}}</span>
						   	</td>
						   	<td ng-if="displayCar3()">
						    	<p ng-bind-html="renderHtml(ext.car3.value)"></p>
						        <span>{{ext.parameterName}}</span>
						   	</td>
                    	</tr>
  						<tr>
					      	<td class="config_title" colspan="{{getResultColspan()}}"><a id="nspz" name="nspz"></a>{{translation.general.interiorConf}}</td>
					   	</tr>
					   	<tr ng-hide="hideSame(int)" ng-repeat="int in compareResults.interiors" ng-style="{1:{background:'#fff'},0:{background: '#f3f5f6'}}[$index%2]">
                    		<td>
						    	<p ng-bind-html="renderHtml(int.car1.value)"></p>
						        <span>{{int.parameterName}}</span>
						    </td>
						    <td>
						    	<p ng-bind-html="renderHtml(int.car2.value)"></p>
						        <span>{{int.parameterName}}</span>
						   	</td>
						   	<td ng-if="displayCar3()">
						    	<p ng-bind-html="renderHtml(int.car3.value)"></p>
						        <span>{{int.parameterName}}</span>
						   	</td>
                    	</tr>
					   	<tr>
      						<td class="config_title" colspan="{{getResultColspan()}}"><a id="aqkj" name="aqkj"></a>{{translation.general.safetyTech}}</td>
   					   	</tr>
   					   	<tr ng-hide="hideSame(safety)" ng-repeat="safety in compareResults.safetyequipments" ng-style="{1:{background:'#fff'},0:{background: '#f3f5f6'}}[$index%2]">
                    		<td>
						    	<p ng-bind-html="renderHtml(safety.car1.value)"></p>
						        <span>{{safety.parameterName}}</span>
						    </td>
						    <td>
						    	<p ng-bind-html="renderHtml(safety.car2.value)"></p>
						        <span>{{safety.parameterName}}</span>
						   	</td>
						   	<td ng-if="displayCar3()">
						    	<p ng-bind-html="renderHtml(safety.car3.value)"></p>
						        <span>{{safety.parameterName}}</span>
						   	</td>
                    	</tr>
   					  	<tr>
      						<td class="config_title" colspan="{{getResultColspan()}}"><a id="sskj" name="sskj"></a>{{translation.general.comfortTech}}</td>
   						</tr>
   						<tr ng-hide="hideSame(comf)" ng-repeat="comf in compareResults.comforts" ng-style="{1:{background:'#fff'},0:{background: '#f3f5f6'}}[$index%2]">
                    		<td>
						    	<p ng-bind-html="renderHtml(comf.car1.value)"></p>
						        <span>{{comf.parameterName}}</span>
						    </td>
						    <td>
						    	<p ng-bind-html="renderHtml(comf.car2.value)"></p>
						        <span>{{comf.parameterName}}</span>
						   	</td>
						   	<td ng-if="displayCar3()">
						    	<p ng-bind-html="renderHtml(comf.car3.value)"></p>
						        <span>{{comf.parameterName}}</span>
						   	</td>
                    	</tr>
				  	</table>
                </div>
                <div class="send-result" >
                    <input type="tel" maxlength="11" ng-blur="phoneTrigger()" placeholder="{{translation.general.comparetiveDealerwillSentToMobNo}}" id="tel" ng-model="compare.tel">
                    <a href="javascript:;" ng-click="smscompare()" class="submit">{{translation.general.send}}</a>
                </div>
            </div>
        </div>
        <!-- 自定义内容结束 -->
        <!--#include file="footer.shtml" -->
    </div>   
    
    <div class="popup" id="popup-sendCode" style="height:130%;overflow:hidden;">
        <div ng-if="!isMobile" class="popup-content" style="width: 0%;
    padding: 0px;">
            <a href="javascript:;" class="popup-close"></a>
            <div class="content-box"></div>
        </div>
        <div ng-if="isMobile" class="popup-content" style="left:10%;min-width: 255px;">
            <a href="javascript:;" class="popup-close"></a>
            <div class="content-box"></div>
        </div>
    </div>
<!-- </div>

<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/common.js"></script>
<script src="js/compare.js"></script>
</body>
</html> -->