<!-- <!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="style/bootstrap.css" rel="stylesheet">
    [if lt IE 9]>
        <script src="js/css3-mediaqueries.js"></script>
        <script src="js/html5shiv.min.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]
    <link href="style/common.css" rel="stylesheet">
    <link href="style/config.css" rel="stylesheet">
    <link href="style/main.css" rel="stylesheet">
    <title>{{translation.general.parameterConf}}</title>

</head>
<body>

<div id="container"> -->
<style>
.config_top{
	text-align:center;
	background:#f1f5f7;
	position:fixed;
	width:100%;
}
.config_top .top_title{
	font-size:30px;
	font-weight:bold;
	padding:45px 0;
}
.config_top .top_default .car_name{
	font-size:26px;
	margin:20px 0 5px 0;
}
.config_top .top_default .car_price{
	font-size:18px;
}
.config_top .config_link_box{
	margin-top:15px;
	padding-bottom:40px;
}
.config_top .config_btn_group{
	width:250px;
	height:42px;
	display:inline-block;
	line-height:42px;
	border-radius:5px;
}
.config_top .join_btn{
	background:#0498da;
	color:#fff;
	margin-right:10px;
}
.config_top .download_btn{
	margin-left:10px;
	color:#61bde5;
	border:1px solid #eff2f3;
	background:#fff;
}
.top_close{
	display:none;	
}
a.btn-close{
	width: 35px;
    height: 35px;
    position: fixed;
    top: 20px;
    right: 20px;
    background: url(angularweb/assets/images/dealer-popup-close.png);	
}
.top_change{
	text-align:left;
	height:128px;	
	padding-left:4%;
	display:none;
}
.top_change div{
	display:inline-block;	
}
.top_change .car_name{
	line-height:128px;
	margin-right:52px;
	font-size:18px;
}
.top_change .car_price{
	vertical-align: middle;
}
.top_change .config_link_box{
	position:absolute;
	right:10%;	
	margin:0;
	padding:0;
	line-height:128px;
}
.top_change .config_btn_group{
	text-align:center;	
}

.nav-box{
	text-align:left;	
}
.nav-box.fixed {
	position: fixed
}
.nav {
	height: 50px;
	background-color: #788087;
	padding: 0 4%
}
.nav a {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	color: #000;
	font-size: 16px;
	margin-right: 4%;
	text-decoration: none;
	font-weight: 700
}
.nav a.active {
	color: #fff
}
.nav_mobile {
	display: none;
}
div.button {
	height: 38px;
	text-align: right;
	line-height: 38px;
	background-color: #f3f5f6;
	padding-right: 10%;
	font-size: 12px
}
div.button span {
	display: inline-block;
	margin-right: 24px
}
div.button span img {
	width: 12px;
	float: left;
	margin-top: 12px;
	margin-right: 7px
}

.config_table{
	width:100%;	
}
.config_table  tr td:nth-child(1){
	padding-left:4%;
	width:50%;	
}
.config_table  tr td{
	height:138px;
	font-size:18px;	
}
.config_table .config_title{
	font-size:32px;
	font-weight:bold;
}
.intro_text{
	color:#7a8588;
	font-size:14px;
	padding:32px 4% 32px 4%;	
}

.config_content{
	padding-top:499px;	
}


@media screen and (max-width:640px){
	.config_top{
		position:static;	
	}
	.config_content{
		padding-top:0;	
	}
	.config_top .top_title{padding:0;height:60px;line-height:60px;background:#b1b8ba;margin-bottom:35px;font-size:26px;}
	.top_close{
		display:inline-block;
		width:15px;
		height:60px;
		line-height:60px;	
		position:absolute;
		left:4%;		
	}
	.nav{display:none;}
	.nav_mobile{
		display:block;
		position:relative;
	}
	.nav_mobile .btn-select{
		display:block;
		background:#788087;
		height:50px;
		padding-left:58px;
		color:#fff;
	}
	.nav_mobile .select_icon img{
		border-radius: 18px;
		-moz-border-radius: 18px;
		-webkit-border-radius: 18px;	
	}
	.nav_mobile .select_icon{
		position:absolute;
		top:12px;
		left:20px;
		-moz-transform:rotate(180deg); 
		-webkit-transform:rotate(180deg);
		transform:rotate(180deg);
	}
	.nav_mobile a{display:block;color:#000;font-size:18px;padding-left:4%;line-height:50px;}
	.select_list{display:none;}
	.select_list li{background:#788087;border-top:1px solid #fff;}
	.select_list li a{display:block;}
	.btn-close{display:none;}
	.config_btn_group.download_btn{display:none;}	
	.config_top .join_btn{margin:0;}
	div.button{text-align:right;padding:0;}
	
	.top_change{
		height:85px;	
	}
	.top_change .car_name{
		font-size:12px;
		line-height:50px;
		margin:0;
		display:block;
	}
	.top_change .car_price{
		font-size:12px;	
	}
	.top_change .config_link_box{
		line-height:0;
		right:2%;	
		top:21px;
		width:40%;
		padding-bottom:20px;
	}
	.config_top .top_default .car_name{
		font-size:20px;	
	}
	.top_default .config_link_box{
		width:55%;
		margin:20px auto 0 auto;	
		padding-bottom:20px;
	}
	.config_top .top_default .car_name{
		font-size:18px;
	}
	.config_top .top_default .car_price{
		font-size:16px;
	}
	.config_top .top_default .image_box img{
		width:50%;
	}
	.config_top .config_btn_group{
		width:100%;		
	}
	.config_table  tr td:nth-child(1){
		padding-left:4%;
		width:60%;	
	}
	.config_table  tr td:nth-child(2){
		width:40%;	
		text-align:center;
	}
	.config_table .config_title{
		height:80px;
		font-size:20px;
	}
	.config_table  tr td{
		height:66px;
		font-size:16px;
	}
}

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea {font-family: "Microsoft YaHei", \5fae\8f6f\96c5\9ed1, arial, \5b8b\4f53 }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; color: #808588; }
a:hover { color:#00a9e0;text-decoration:none;}
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }
/* -----------------------------初始化------------------------------------ */

html,body{width: 100%;height: 100%; }
#container{width: 100%;}
.bold_font{	font-weight:bold;	}

.mainbody{padding: 0; margin-left: 96px; position: relative; z-index:15;}
.mainbody .mask{width:100%;height:150%; background:#000;filter:alpha(opacity=60);opacity:0.6; position:fixed;left:0;top:0; z-index:20; display: none;margin-left: 96px;}
.fullscreenbox{
	background-image:url(angularweb/assets/images/kv_0726_pc.jpg);
    background-size: cover;
    width: 100%;
	height: 100%;
    background-repeat: no-repeat;
    background-position: center;
	position:relative;
	padding-top:110px;
}
.fullscreenbox_title{
	width:100%;
	position:absolute;
	top:30%;
	text-align:center;
	color:#fff;
	font-size:48px;	
	font-weight:bold;
}
.fullscreenbox a.mobile_link{	display:none;}
.container-fluid{ overflow-x: hidden;}


.top_link{background-color: #bdc3c6; width: 100%; position: fixed; right: 0; top: 0; z-index: 12;  }
.top_link .navbar-right{margin-right: 3%;}
.top_link .navbar-left{margin-left: 3%;}
.top_link .toolslink{ text-align: center; padding: 5px 0 0 0;}
.top_link .toolslink a:hover{background: none;}
.top_link .toolslink div{width: 36px;height: 36px;padding:6px;  margin: 0 auto;border-radius:18px;-moz-border-radius: 18px; -webkit-border-radius: 18px; background-color:#2f3538; }
.top_link .toolslink div:hover{background-color:#808890;}
.top_link .toolslink div span{width: 25px; height: 25px;display:block;background-image: url("../images/icon_all25x25.png");background-repeat: no-repeat;}
.top_link .toolslink div span.icon-testdrive{background-position: -75px -1150px;}
.top_link .toolslink div span.icon-searchdealer{background-position: -75px -575px;}
.top_link .toolslink div span.icon-support{background-position: -75px -1075px;}
.top_link .toolslink a>span.atext{color: #fff;}
.top_link .car_name{padding-top:25px;font-size: 20px; line-height: 24px; font-weight: bold; margin-right: 30px;}
.top_link .car_price{padding-top:25px;font-size: 20px; line-height: 24px;}

.sub_nav{background-color: #808890; width: 100%;}
.sub_nav a{color: #2f3538;}


.vwicon{background-image: url("angularweb/assets/images/icon_all25x25.png");background-repeat: no-repeat; width: 25px; height: 25px;display: block;}
#main_nav{
    position: fixed;
    left: 0;
    top: 0;
    width: 96px;
    height: 100%;
    background-color: rgba(255,255,255,1);
    z-index: 12;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    border-right: solid 1px #dee1e3;
   box-shadow:0px 0px 10px 5px #dee1e3;
/*投影方式 X轴偏移量 Y轴偏移量 阴影模糊半径 阴影扩展半径 阴影颜色;*/
}
#main_nav li{
    border-bottom: 1px solid #dee1e3;
    text-align: center;
	padding-bottom: 10px;
}
#main_nav li.logobox{
    width: 96px;
    height: 120px;
    text-align: center;
    padding-top: 20px;
}

#main_nav li a{display: block;}
#main_nav li a .lefticon{background-image: url("angularweb/assets/images/icon_leftnav.png");background-repeat: no-repeat;}
#main_nav li a .nav_size{ width: 50px; height: 50px; margin: 10px auto 5px auto;}
#main_nav li a .icon-car{background-position:0 0; }
#main_nav li a:hover .icon-car{background-position:-50px 0; }
#main_nav li a .icon-findadealer{background-position:0px -50px; }
#main_nav li a:hover .icon-findadealer{background-position:-50px -50px; }
#main_nav li a .icon-importer{background-position:0px -100px;}
#main_nav li a:hover .icon-importer{background-position:-50px -100px;}
#main_nav li a .icon-dealer{background-position:0px -150px;}
#main_nav li a:hover .icon-dealer{background-position:-50px -150px;}
#main_nav li a .icon-more{background-position:0px -600px;}
#main_nav li a:hover .icon-more{background-position:-50px -600px;}

#mobile_nav{display: none;}
#main_nav_more{ position: fixed;left: 96px;top: 0; width: 0px;height: 100%;background-color: rgb(255,255,255);
z-index: 16;-webkit-transform-origin: 0 0;transform-origin: 0 0;overflow: hidden;
}
#main_nav_more .desktop-searchbox { padding: 30px 25px 20px 25px; }
#main_nav_more .desktop-searchbox .fancy-input {padding: 0 !important;position: relative;border: 1px solid #ccc;height: 36px;border-radius: 3px;width: 200px;}
#main_nav_more .fancy-input span{display: block; width: 25px; float: left; margin:5px 5px 0 5px; cursor: pointer;}
#main_nav_more .fancy-input .input-wrapper-search{float: left; line-height: 36px;}
#main_nav_more .fancy-input .input-wrapper-search .searchformtext{height: 24px; border: 0px; line-height: 24px; width: 150px; }
#main_nav_more .fancy-input .icon-searchglass{width:25px; height: 25px; float: left; background-position:0px -1025px;}
#main_nav_more ul{margin: 0 10px;width: 230px; overflow: hidden;}
#main_nav_more li{ border-bottom:1px solid #dee1e3; overflow: hidden }
#main_nav_more li a{display: block; padding:20px; width: 100%; overflow: hidden;}
#main_nav_more li a span{display: block; float: left;height: 25px; line-height: 25px; padding-left: 10px;}
#main_nav_more li a .nav_size{width: 25px; height: 25px;float: left;}
#main_nav_more li a .icon-car{background-position:0 0; }
#main_nav_more li a:hover .icon-car{background-position:-25px 0; }
#main_nav_more li a .icon-findadealer{background-position:0px -25px; }
#main_nav_more li a:hover .icon-findadealer{background-position:-25px -25px; }
#main_nav_more li a .icon-importer{background-position:0px -50px;}
#main_nav_more li a:hover .icon-importer{background-position:-25px -50px;}
#main_nav_more li a .icon-dealer{background-position:0px -350px;}
#main_nav_more li a:hover .icon-dealer{background-position:-25px -350px;}
#main_nav_more li a .icon-more{background-position:0px -700px;}
#main_nav_more li a:hover .icon-more{background-position:-25px -700px;}




/*****************自定义样式***********************/
#page02,#page03,#page04,#page05,#page06,#page07{margin-top:5%;	}
.lt{float:left;	}
.rt{float:right;}
.clr{clear:both;}


.content_title_lg{
	font-weight:bold;
	font-size:22px;
	padding:10px 0 10px 0;
	margin-bottom:2%;
}
.content_text{
	margin-bottom:2%;
	font-size:18px;
	min-height:84px;
}
.content_title_sm{
	font-weight:bold;
	font-size:20px;	
	padding-bottom:20px;
	margin-top:3%;
}

.main_title{
	font-size:28px;
	text-align:center;
	font-weight:bold;	
	padding:50px 0;
}
.link_box{
	margin:6% 0;
	text-align:center;
}
.btn_group{
	margin-top:10%;
	padding:0 18%;
}

.finance_text{
	font-size:20px;
	color:#6d7479;	
}
.img_box{
	text-align:center;
}

.click_img img{
	cursor:pointer;	
}

.footer{
	margin-top:1%;
	background:#f2f2f2;
	height:auto;
	padding-bottom:100px;	
}
.footer_bar{
	height:44px;
	line-height:44px;
	background:#bfbfbf;	
	padding-right:10%;
}
.footer_bar a{
	float:right;
	color:#000;
	font-size:18px;
	display: block;
	width: 100px;
}
.footer_bar span{float: left; }
.footer_bar span.icon-back-top{background-position:-50px -1675px;margin-top: 10px;}

.footer .container{
	padding-top:20px;	
}
.footer .container .list-group-item{
	background:#f2f2f2;
	border:none;
}
.footer .container .list-group-item a{
	background:url(angularweb/assets/images/jiantou.png) no-repeat left center;
	padding-left:14px;	
}
.foot_title_one{
	position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;	
}
.list_title a{
	color:#000;
	font-weight:bold;
	background:none;
	padding-left:15px;	
}
.foot_title_sec{
	color:#858587;
	font-weight:bold;	
}
.footer .red_font{
	color:red;	
}
.foot_msg{
	margin-top:5%;	
}
.foot_msg span{
	margin-right:5%;	
}
.weixin{
	position:relative;	
}
.erweima{
	position:absolute;
	top:-145px;
	left:0;
	display:none;
}
.weibo img,.weixin>img{
	width:30%;
	margin:10px;
}
.slide_list_unactive{
	display:none;	
}
.mobile_link{
	display:none;	
}

.gouche{
	padding-bottom:10%;
}
.gouche_icon{
	width:95px;
	height:80px;
	margin:0 auto;
	text-align:center;	
	margin-top:50px;
}


/********************重写bootstrap样式************************/
.fullimg{width: 100%;}
.media{
	padding:25px 0 0 0;
}
.media .fullimg{width: 90%;}

.pull-right,.pull-left{width: 50%;}
.media-body{
	width: 50%;
}
.btn-lg{
	min-width:180px;
	padding:5px 16px;
}
.btn-sm{
	min-width:120px;
	padding:5px 16px;	
}
.nav-pills > li > a {
	border-radius: 0px;
}
/********************重写bootstrap样式************************/

@media screen and (min-width: 1200px){
	.container {
		width: 94%;
		padding: 0 3%;
	}
	.media-body{
		padding:15%;	
	}
}

@media screen and (max-width: 992px){

	
	.media .fullimg{width: 100%;}
	.pull-right,.pull-left{width: 100%;}
	
	/*footer*/
	.footer{
		padding:0;	
	}
	.footer .container{
		padding:0;	
	}
	.footer .list_title{
		border-bottom:1px solid #ccc;
		height:46px;
		line-height:46px;	
	}
	.footer .container .list-group-item{
		border-bottom:1px solid #ccc;
		background:#fff;
		margin:0;
	}
	.footer .container .list-group-item a{
		height:30px;
		line-height:30px;	
		background:#fff;	
		width:100%;
		display:inline-block;
	}
	.foot_msg{
		padding:5%;	
	}
	.weibo_weixin{
		padding:5%;		
	}
}

@media screen and (max-width:768px){

    .toolsbox{display: none;}

	.fullscreenbox{ height: 320px;padding:0;}
	.media .fullimg{width: 100%;}
	.pull-right,.pull-left{width: 100%;}
	
	/*footer*/
	.footer{
		padding:0;	
	}
	.footer .container{
		padding:0;	
	}
	.footer .list_title{
		border-bottom:1px solid #ccc;
		height:46px;
		line-height:46px;	
	}
	.footer .container .list-group-item{
		border-bottom:1px solid #ccc;
		background:#fff;
		margin:0;
	}
	.footer .container .list-group-item a{
		height:30px;
		line-height:30px;	
		background:#fff;	
		width:100%;
		display:inline-block;
	}
	.foot_msg{
		padding:5%;	
	}
	.weibo_weixin{
		padding:5%;		
	}
}

@media screen and (max-width:640px){
	.fullscreenbox{
		background-image:url(angularweb/assets/images/kv_0726.jpg);
		background-size: cover;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		position:relative;
		padding:0;
	}
	.fullscreenbox{ height: 320px;}
	.fullscreenbox .fullscreen_title{
		font-size:40px;
		top:20%;
	}
	.pull-left,.pull-right{
		float:none !important;
		padding:0 !important;	
	}
	.media .fullimg{width: 100%;}

	.pull-right,.pull-left{width: 100%;}
	
	.content_title_lg{
		font-size:16px;	
	}
	.content_title_sm{
		font-size:16px;	
	}
	.content_text{
		font-size:14px;
		min-height:0px;
	}
	/*footer*/
	.footer{
		padding:0;	
	}
	.footer .container{
		padding:0;	
	}
	.footer .list_title{
		border-bottom:1px solid #ccc;
		height:46px;
		line-height:46px;	
	}
	.footer .container .list-group-item{
		border-bottom:1px solid #ccc;
		background:#fff;
		margin:0;
	}
	.footer .container .list-group-item a{
		height:30px;
		line-height:30px;	
		background:#fff;	
		width:100%;
		display:inline-block;
	}
	.foot_msg{
		padding:5%;	
	}
	.weibo_weixin{
		padding:5%;		
	}
	.erweima{
		top:-160px;
		left:0;
	}
    #container{position:relative;overflow-x: hidden; width: 100%;}
    .mainbody{margin-left: 0;}
    #main_nav{display: none;}
    .top_link{display: none;}
    #mobile_nav{display: block; overflow: hidden;}
    #mobile_nav .logobox{padding: 5px 20px; height: 60px; width: 120px; float: left;}
    #mobile_nav .logobox img{height: 100%;}
    #mobile_nav .burger_menu{ float: right; width: 30px;margin: 20px 20px 5px 0; position: relative; height: 30px;}
    #mobile_nav .burger_menu .burger_line{height: 3px; width: 100%; background-color: #0099da; position: absolute;left:0; -webkit-transition:all 0.4s linear; }
	#mobile_nav .burger_menu .burger_line:nth-child(1){top:0;}
	#mobile_nav .burger_menu .burger_line:nth-child(2){top:8px;}
	#mobile_nav .burger_menu .burger_line:nth-child(3){top:16px;}
	#mobile_nav .burger_menu .hideline{opacity: 0;}
	#mobile_nav .burger_menu .rotate{-webkit-transform:rotate(45deg); -webkit-transform-origin: 8px 0}
	#mobile_nav .burger_menu .re_rotate{-webkit-transform:rotate(-45deg);-webkit-transform-origin: 0 0}
    #main_nav_more{top: 60px;left:100%; width: 100%; position: absolute; height: auto;}
    #main_nav_more ul{margin: 0 2%;width: 96%;  overflow: hidden;}
    #main_nav_more .desktop-searchbox { padding: 30px 2% 20px 2%;}
    #main_nav_more .desktop-searchbox .fancy-input { width: 100%;}
    #main_nav_more .mobile_nav_shadow{background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, transparent 100%) repeat scroll 0 0;height: 8px;width: 100%;}
}
.vr_erweima{display:none;position:absolute;	top:102%;left:0;width:100%;}





</style>
<!--************ 主导航包含 start  ************--->

    <!--回到顶部锚点-->
    <a id="top_anchor" name="top_anchor"></a>
    
    <!-- 主导航 -->
    <div id="main_nav">
        <ul>
            <li class="logobox"><a href="http://vw.faw-vw.com/"><img src="angularweb/assets/images/Logo_new.png" width="60" height="79"></a></li>
            <li>
                <a href="http://vw.faw-vw.com/">
                    <div class="nav_size lefticon icon-car"></div>
                    <span>{{translation.general.OverviewOfModels}}</span>
                </a>
            </li>
            <li>
                <a href="http://ibuy.faw-vw.com/Official/">
                    <div class="nav_size lefticon icon-findadealer"></div>
                    <span>{{translation.general.PeopleLookForTheCar}}</span>
                </a>
            </li>
            <li>
                <a href="http://ibuy.faw-vw.com/Official/">
                    <div class="nav_size lefticon icon-importer"></div>
                    <span>{{translation.general.VolkswagenBrand}}</span>
                </a>
            </li>
            <li>
                <a href="http://vw.faw-vw.com/newmagotanmycar">
                    <div class="nav_size lefticon icon-dealer" ></div>
                    <span>{{translation.general.CentreOwners}}</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="nav_size lefticon icon-more"></div>
                    <span>{{translation.general.More}}</span>
                </a>
            </li>

        </ul>
    </div>
    <!-- 手机顶部logo及导航三线按钮 -->
    <div id="mobile_nav">
        <div class="logobox"><img src="angularweb/assets/images/Logo_new.png"></div>
        <div class="burger_menu">
            <div class="burger_line"></div>
            <div class="burger_line"></div>
            <div class="burger_line"></div>
        </div>
    </div>
    <!-- 主导航 更多内容 移动端主导航内容 -->
    <div id="main_nav_more" data-count="1">
        <div class="mobile_nav_shadow"></div>
        <div class="desktop-searchbox">
            <div class="fancy-input">
                <span class="vwicon icon-searchglass"></span>
                <div class="input-wrapper-search">
                    <input type="text" value="search" name="searchtxt" class="searchformtext" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <ul>
            <li>
                <a href="http://vw.faw-vw.com/">
                    <div class="nav_size vwicon icon-car"></div>
                    <span>{{translation.general.OverviewOfModels}}</span>
                </a>
            </li>
            <li>
                <a href="http://ibuy.faw-vw.com/Official/">
                    <div class="nav_size vwicon icon-findadealer"></div>
                    <span>{{translation.general.PeopleLookForTheCar}}</span>
                </a>
            </li>
            <li>
                <a href="http://ibuy.faw-vw.com/Official/">
                    <div class="nav_size vwicon icon-importer"></div>
                    <span>{{translation.general.VolkswagenBrand}}</span>
                </a>
            </li>
            <li>
                <a href="http://vw.faw-vw.com/newmagotanmycar">
                    <div class="nav_size vwicon icon-dealer" ></div>
                    <span>{{translation.general.CentreOwners}}</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="nav_size vwicon icon-more"></div>
                    <span>{{translation.general.More}}</span>
                </a>
            </li>
        </ul>
        <!--<div style="width: 100%; background-color: #B6BDD2; height: 50px;"></div>-->
    </div>
<!--************ 主导航包含 end  ************--->

    <!-- 主体内容 -->
    <div class="container-fluid mainbody" style="{background:'#fff'}">

        <!-- 自定义内容开始 -->
        <div class="config_container">
        	<div class="config_top">
            	<div class="top_default">
                	<div class="top_title">
                    	<a href="javascript:;" class="top_close"><img src="angularweb/assets/images/config/jiantou.png" alt="" /></a>
                     {{translation.general.parameterConf}}
                    </div>
                    <div class="image_box"><img src="angularweb/assets/images/config/car.png" alt="" /></div>
                    <div class="car_name">{{carConfigDetails.model.name}}</div>
                    <div class="car_price">{{translation.finance.modelPrice}}：¥{{carConfigDetails.model.rrp}}</div>
                    <div class="config_link_box">
                        <a href="javascript:;" class="config_btn_group join_btn">{{translation.general.addToCompare}}</a>
                        <a href="javascript:;" class="config_btn_group download_btn">{{translation.general.downloadManual}}</a>
                    </div>
                </div>
                <div class="top_change">
                	<div class="car_name">{{carConfigDetails.model.name}}</div>
                    <div class="car_price">{{translation.finance.modelPrice}}：¥{{carConfigDetails.model.rrp}}</div>
                    <div class="config_link_box">
                        <a href="javascript:;" class="config_btn_group join_btn">{{translation.general.addToCompare}}</a>
                        <a href="javascript:;" class="config_btn_group download_btn">{{translation.general.downloadManual}}</a>
                    </div>
                </div>
        		
                <div class="nav-box">
                    <div class="nav">
                        <a href="#jscs" class="active anchorlink">{{translation.general.techParameter}}</a>
                        <a href="#waiguan" class="anchorlink">{{translation.general.exterior}}</a>
                        <a href="#neishi" class="anchorlink">{{translation.general.interior}}</a>
                        <a href="#anquan" class="anchorlink">{{translation.general.interiorSecTech}}</a>
                        <a href="#gongneng" class="anchorlink">{{translation.general.funtionLuxury}}</a>
                    </div>
                    <div class="nav_mobile">
                    	<div class="select_icon"><img src="angularweb/assets/images/config/select.jpg" alt="" /></div>
                        <a href="javascript:;" class="btn-select">{{translation.general.techParameter}}</a>
                        <ul class="select_list">
                            <li><a href="#jscs" class="active m_anchorlink">{{translation.general.techParameter}}</a></li>
                            <li><a href="#waiguan" class="m_anchorlink">{{translation.general.exterior}}</a></li>
                            <li><a href="#neishi" class="m_anchorlink">{{translation.general.interior}}</a></li>
                            <li><a href="#anquan" class="m_anchorlink">{{translation.general.interiorSecTech}}</a></li>
                            <li><a href="#gongneng" class="m_anchorlink">{{translation.general.funtionLuxury}}</a></li>
                        </ul>
                    </div>
                    <div class="button">
                        <span><img src="angularweb/assets/images/compare/icon3.png" >{{translation.general.standard}}</span>
                        <span><img src="angularweb/assets/images/compare/icon2.png" >{{translation.general.optional}}</span>
                        <span><img src="angularweb/assets/images/compare/icon4.png" >{{translation.general.no}}</span>
                    </div>    
                </div>
                <a href="#" class="btn-close"></a>
        	</div>
        	
        	<div class="config_content">
            	<table class="config_table" border="0" cellpadding="0" cellspacing="0">
                	<tr>
                    	<td class="config_title" colspan="2"><a id="jscs" name="jscs"></a>{{translation.general.techParameter}}</td>
                    </tr>
                    <tr ng-repeat="basic in carConfigDetails.basics" ng-style="{1:{background:'#fff'}, 0:{background: '#f3f5f6'}}[$index%2]">
                    	<td>{{basic.parameterName}}</td>
                        <td><span ng-bind-html="renderHtml(basic.car1.value)"></td>
                    </tr>
                    <!-- <tr>
                    	<td>轴距[mm]</td>
                        <td>2871</td>
                    </tr>
                    <tr>
                    	<td>行李箱容积[L]</td>
                        <td>66</td>
                    </tr>
                    <tr>
                    	<td>油箱容积[L]</td>
                        <td>1.395</td>
                    </tr>
                    <tr>
                    	<td>发动机排量[L]</td>
                        <td>1.6</td>
                    </tr> -->
                    <tr >
                    	<td class="config_title" colspan="2" style="{background-color:#f3f5f6}"><a id="waiguan" name="waiguan"></a>{{translation.general.exterior}}</td>
                    </tr>
                    <tr ng-repeat="ext in carConfigDetails.exteriors" ng-style="{0:{background:'#fff'}, 1:{background: '#f3f5f6'}}[$index%2]">
                    	<td>{{ext.parameterName}}</td>
                        <td><span ng-bind-html="renderHtml(ext.car1.value)">
                        	<img ng-if="ext.car1.value == null" src="angularweb/assets/images/compare/icon4.png" alt="">
                        </td>
                    </tr>
<!--                     <tr>
                    	<td>超大全景天窗(滑动 / 倾斜双模开启,防夹功能)</td>
                        <td><img src="angularweb/assets/images/compare/icon2.png" alt=""></td>
                    </tr>
                    <tr>
                    	<td>电动天窗遮阳帘</td>
                        <td><img src="angularweb/assets/images/compare/icon2.png" alt=""></td>
                    </tr>
                    <tr>
                    	<td>卤素前大灯</td>
                        <td><img src="angularweb/assets/images/compare/icon3.png" alt=""></td>
                    </tr>
                    <tr>
                    	<td>凌犀全LED前大灯</td>
                        <td><img src="angularweb/assets/images/compare/icon4.png" alt=""></td>
                    </tr>
                    <tr>
                    	<td>凌犀全LED高级前大灯(带透镜,大灯随动转向,动态灯 光辅助及大灯清洗)</td>
                        <td><img src="angularweb/assets/images/compare/icon4.png" alt=""></td>
                    </tr> -->
                    <tr>
                    	<td class="config_title" colspan="2"><a id="neishi" name="neishi"></a>{{translation.general.interior}}</td>
                    </tr>
                    <tr ng-repeat="int in carConfigDetails.interiors" ng-style="{1:{background:'#fff'}, 0:{background: '#f3f5f6'}}[$index%2]">
                    	<td>{{int.parameterName}}</td>
                        <td><span ng-bind-html="renderHtml(int.car1.value)">
                        	<img ng-if="int.car1.value == null" src="angularweb/assets/images/compare/icon4.png" alt="">
                        </td>
                    </tr>
                    <!-- <tr>
                    	<td>2</td>
                        <td>2</td>
                    </tr>
                    <tr>
                    	<td>3</td>
                        <td>3</td>
                    </tr>
                    <tr>
                    	<td>4</td>
                        <td>4</td>
                    </tr>
                    <tr>
                    	<td>5</td>
                        <td>5</td>
                    </tr> -->
                    <tr>
                    	<td class="config_title" colspan="2"><a id="anquan" name="anquan"></a>{{translation.general.interiorSecTech}}</td>
                    </tr>
                    <tr ng-repeat="safety in carConfigDetails.safetyequipments" ng-style="{0:{background:'#fff'}, 1:{background: '#f3f5f6'}}[$index%2]">
                    	<td>{{safety.parameterName}}</td>
                        <td><span ng-if="safety.car1.value" ng-bind-html="renderHtml(safety.car1.value)">
                        	<img ng-if="safety.car1.value==null" src="angularweb/assets/images/compare/icon4.png" alt="">
                        </td>
                    </tr>
                    <!-- <tr>
                    	<td>2</td>
                        <td>2</td>
                    </tr>
                    <tr>
                    	<td>3</td>
                        <td>3</td>
                    </tr>
                    <tr>
                    	<td>4</td>
                        <td>4</td>
                    </tr>
                    <tr>
                    	<td>5</td>
                        <td>5</td>
                    </tr> -->
                    <tr>
                    	<td class="config_title" colspan="2"><a id="gongneng" name="gongneng"></a>{{translation.general.funtionLuxury}}	</td>
                    </tr>
                    <tr ng-repeat="comf in carConfigDetails.comforts" ng-style="{1:{background:'#fff'}, 0:{background: '#f3f5f6'}}[$index%2]">
                    	<td>{{comf.parameterName}}</td>
                        <td><span ng-bind-html="renderHtml(comf.car1.value)">
                        	<img ng-if="comf.car1.value==null" src="angularweb/assets/images/compare/icon4.png" alt="">
                        </td>
                    </tr>
<!--                     <tr>
                    	<td>2</td>
                        <td>2</td>
                    </tr>
                    <tr>
                    	<td>3</td>
                        <td>3</td>
                    </tr>
                    <tr>
                    	<td>4</td>
                        <td>4</td>
                    </tr>
                    <tr>
                    	<td>5</td>
                        <td>5</td>
                    </tr> -->
                </table>
                <p class="intro_text">{{translation.general.pricedoesnincludeOptFeaturesPrice}}。<br/>鉴于一汽-大众汽车有限公司将不断对汽车进行改型和改进,因此后续车型的装备和参数将会有相应变化。请勿 以样本的内容与您所购汽车的装备和参数进行比较并以两者的差别为依据提出补偿装备的需求。</p>
            </div>
        </div>
        <!-- 自定义内容结束 -->
        
        <!----------------footer 开始------------------>
        <div class="footer">
            <div class="footer_bar">
                <a href="#top_anchor">{{translation.general.backToTop}}<span class="icon-back-top"></span></a>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="list_title"><a href="javascript:;">{{translation.general.OverviewOfModels}}</a><span class="glyphicon glyphicon-menu-down rt" style="margin:15px;"></span></div>
                        <ul class="list-group slide_list">
                          <li class="list-group-item">
                            <a href="http://vw.faw-vw.com/newcc" class="pc_link">CC</a>
                            <a href="http://vw.faw-vw.com/m/carmodel/detail?brand_id=15" class="mobile_link">CC</a>
                          </li>
                          <li class="list-group-item">
                            <a href="http://vw.faw-vw.com/gti" class="pc_link">全新高尔夫GTI</a>
                            <a href="http://vw.faw-vw.com/m/carmodel/detail?brand_id=7" class="mobile_link">全新高尔夫GTI</a>
                          </li>
                          <li class="list-group-item">
                            <a href="http://vw.faw-vw.com/magotan" class="pc_link">{{translation.general.magoton}}</a>
                            <a href="http://vw.faw-vw.com/m/carmodel/detail?brand_id=8" class="mobile_link">{{translation.general.magoton}}</a>
                          </li>
                          <li class="list-group-item">
                            <a href="http://vw.faw-vw.com/newsagitar" class="pc_link">{{translation.general.njeeta}}</a>
                            <a href="http://vw.faw-vw.com/m/carmodel/detail?brand_id=17" class="mobile_link">{{translation.general.njeeta}}</a>
                          </li>
                          <li class="list-group-item">
                            <a href="http://vw.faw-vw.com/newsagitargli" class="pc_link">{{translation.general.njeetaGLI}}</a>
                            <a href="http://vw.faw-vw.com/m/carmodel/detail?brand_id=23" class="mobile_link">{{translation.general.njeetaGLI}}</a>
                          </li>
                          <li class="list-group-item">
                            <a href="http://vw.faw-vw.com/newgolf" class="pc_link">{{translation.general.golf}}</a>
                            <a href="http://vw.faw-vw.com/m/carmodel/detail?brand_id=16" class="mobile_link">{{translation.general.golf}}</a>
                          </li>
                          <li class="list-group-item">
                            <a href="http://vw.faw-vw.com/golfr-line" class="pc_link">{{translation.general.golfRLine}}</a>
                            <a href="http://vw.faw-vw.com/m/carmodel/detail?brand_id=20" class="mobile_link">{{translation.general.golfRLine}}</a>
                          </li>
                          <li class="list-group-item">
                            <a href="http://vw.faw-vw.com/golfsportsvan" class="pc_link">{{translation.general.newKagolfTour}}</a>
                            <a href="http://vw.faw-vw.com/m/carmodel/detail?brand_id=22" class="mobile_link">{{translation.general.newKagolfTour}}</a>
                          </li>
                          <li class="list-group-item">
                            <a href="http://vw.faw-vw.com/allnewbora" class="pc_link">{{translation.general.newPolaris}}</a>
                            <a href="http://vw.faw-vw.com/m/carmodel/detail?brand_id=21" class="mobile_link">{{translation.general.newPolaris}}</a>
                          </li>
                          <li class="list-group-item">
                            <a href="http://vw.faw-vw.com/newbora" class="pc_link">{{translation.general.boraQualityEdt}}</a>
                            <a href="http://vw.faw-vw.com/m/carmodel/detail?brand_id=10" class="mobile_link">{{translation.general.boraQualityEdt}}</a>
                          </li>
                          <li class="list-group-item">
                            <a href="http://vw.faw-vw.com/newjetta" class="pc_link">{{translation.general.jeetaQualityHuiEdt}}</a>
                            <a href="http://vw.faw-vw.com/m/carmodel/detail?brand_id=13" class="mobile_link">{{translation.general.jeetaQualityHuiEdt}}</a>
                          </li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <div class="list_title"><a href="javascript:;">{{translation.general.PeopleLookForTheCar}}</a><span class="glyphicon glyphicon-menu-down rt" style="margin:15px;"></span></div>
                        <ul class="list-group slide_list">
                          <li class="list-group-item foot_title_sec">{{translation.general.carTools}}</li>
                          <li class="list-group-item">
                            <a href="http://vw.faw-vw.com/order" class="pc_link">{{translation.general.ArrangeATestDrive}}</a>
                            <a href="http://vw.faw-vw.com/m/orderndriver?returnBtn=2" class="mobile_link">{{translation.general.ArrangeATestDrive}}</a>
                          </li>
                          <li class="list-group-item hidden_mobile">
                            <a href="http://vw.faw-vw.com/order" class="pc_link">{{translation.general.OnlineService}}</a>
                          </li>
                          <!--<li class="list-group-item hidden_mobile">
                            <a href="http://ibuy.faw-vw.com/Official/tools/comparison" class="pc_link">车型对比</a>
                          </li>-->
                          <li class="list-group-item">
                            <a href="http://vw.faw-vw.com/mydealer" class="pc_link">{{translation.general.DealerLocator}}</a>
                            <a href="http://vw.faw-vw.com/m/dealer?returnBtn=2" class="mobile_link">{{translation.general.DealerLocator}}</a>
                          </li>
                          <li class="list-group-item foot_title_sec">{{translation.general.financialServices}}</li>
                          <li class="list-group-item">
                            <a href="http://vw.faw-vw.com/calculator/loan-calculator" class="pc_link">{{translation.general.FinancialLoanCalculator}}</a>
                            <a href="http://vw.faw-vw.com/m/financial/assistant?returnBtn=2" class="mobile_link">{{translation.general.FinancialLoanCalculator}}</a>
                          </li>
                          <li class="list-group-item hidden_mobile">
                            <a href="http://ibuy.faw-vw.com/Official/tools/Insurance" class="pc_link">{{translation.general.insuranceCal}}</a>
                          </li>
                          <li class="list-group-item hidden_mobile">
                            <a href="http://vw.faw-vw.com/audit/online-audit" class="pc_link">{{translation.general.onlineQualificationAssesment}}</a>
                          </li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <div class="list_title"><a href="javascript:;">{{translation.general.VolkswagenBrand}}</a><span class="glyphicon glyphicon-menu-down rt" style="margin:15px;"></span></div>
                        <ul class="list-group slide_list">
                          <li class="list-group-item foot_title_sec hidden_mobile">{{translation.general.aboutBrand}}</li>
                          <li class="list-group-item hidden_mobile">
                            <a href="http://vw.faw-vw.com/intro" class="pc_link">{{translation.general.companyOverview}}</a>
                          </li>
                          <li class="list-group-item hidden_mobile">
                            <a href="http://vw.faw-vw.com/brandcourse" class="pc_link">{{translation.general.brandHistory}}</a>
                          </li>
                          <li class="list-group-item hidden_mobile">
                            <a href="http://vw.faw-vw.com/brandpromise" class="pc_link">{{translation.general.brandPromise}}</a>
                          </li>
                          <li class="list-group-item hidden_mobile">
                            <a href="http://vw.faw-vw.com/technology" class="pc_link">{{translation.general.technologicalInnovation}}</a>
                          </li>
                          <li class="list-group-item foot_title_sec">{{translation.general.news}}</li>
                          <li class="list-group-item">
                            <a href="http://vw.faw-vw.com/brandreport" class="pc_link">{{translation.general.brandNews}}</a>
                            <a href="http://vw.faw-vw.com/m/mediacenter" class="mobile_link">{{translation.general.brandNews}}</a>
                          </li>
                          <li class="list-group-item">
                            <a href="http://vw.faw-vw.com/mediaevaluation" class="pc_link">{{translation.general.mediaReviews}}</a>
                            <a href="http://vw.faw-vw.com/m/mediacenter" class="mobile_link">{{translation.general.mediaReviews}}</a>
                          </li>
                          <li class="list-group-item">
                            <a href="http://vw.faw-vw.com/trydrive" class="pc_link">{{translation.general.testDriveExp}}</a>
                            <a href="http://vw.faw-vw.com/m/mediacenter" class="mobile_link">{{translation.general.testDriveExp}}</a>
                          </li>
                          <li class="list-group-item hidden_mobile">
                            <a href="http://vw.faw-vw.com/zhaomu" class="pc_link">{{translation.general.DealerRecruitment}}</a>
                          </li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <div class="list_title hidden_mobile"><a href="javascript:;">{{translation.general.CentreOwners}}</a><span class="glyphicon glyphicon-menu-down rt" style="margin:15px;"></span></div>
                        <ul class="list-group slide_list">
                          <li class="list-group-item">
                            <a href="http://vw.faw-vw.com/mycar" class="pc_link">{{translation.general.MyCar}}</a>
                          </li>
                        </ul>
                        <div class="list_title"><a href="http://vw.faw-vw.com/serviceconcept">{{translation.general.Service}}</a><span class="glyphicon glyphicon-menu-down rt" style="margin:15px;"></span></div>
                        <ul class="list-group slide_list">
                          <li class="list-group-item">
                            <a href="http://vw.faw-vw.com/serviceactive" class="pc_link">{{translation.general.SalesPromotion}}</a>
                            <a href="http://vw.faw-vw.com/m/service/activity" class="mobile_link">{{translation.general.SalesPromotion}}</a>
                          </li>
                          <li class="list-group-item hidden_mobile">
                            <a href="http://vw.faw-vw.com/financial-yanbao" class="pc_link">{{translation.general.ExtendedWarrantyService}}</a>
                          </li>
                          <li class="list-group-item">
                            <a href="http://vw.faw-vw.com/originthing/sparepartshow" class="pc_link">{{translation.general.OriginalSpareParts}}</a>
                            <a href="http://vw.faw-vw.com/m/service/sparepart" class="mobile_link">{{translation.general.OriginalSpareParts}}</a>
                          </li>
                          <li class="list-group-item hidden_mobile">
                            <a href="http://vw.faw-vw.com/boutique/accessory" class="pc_link">{{translation.general.AccessoriesBoutique}}</a>
                          </li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <div class="list_title"><a href="javascript:;">{{translation.general.RelatedWebLinks}}</a><span class="glyphicon glyphicon-menu-down rt" style="margin:15px;"></span></div>
                        <ul class="list-group slide_list">
                          <li class="list-group-item">
                            <a href="http://www.faw-vw.com/" class="pc_link">{{translation.general.FAW-Volkswagon}}</a>
                            <a href="http://m.faw-vw.com" class="mobile_link">{{translation.general.FAW-Volkswagon}}</a>
                          </li>
                        </ul>
                        <div class="weibo_weixin">
                            <a href="http://weibo.com/fawvw?topnav=1&wvr=5&topsug=1" class="weibo" target="_blank"><img src="angularweb/assets/images/weibo.png" alt="" /></a>
                            
                            <a href="javascript:;" class="weixin">
                                <img src="angularweb/assets/images/weixin.png" alt="" />
                                <div class="erweima"><img src="angularweb/assets/images/erweima.jpg" alt="" /></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="foot_msg">
                    <span>©{{translation.general.FAW-VolkswagonAuto}}</span>
                    <span>客户服务热线：4008-171-888 0431-85990888</span>
                    <span style="border-bottom:1px solid #000;">版权及免责申明&nbsp;吉ICP备09000882号</span>
                </div>
            </div>
        </div>
        <!---------footer 结束---------->
    </div>
<script src="angularweb/assets/js/common.js"></script>
<!--
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/comm.js"></script>
<script src="js/common.js"></script>
<script src="js/config.js"></script>

</body>
</html> -->