  <div id="main_nav" ng-init="getAllcityprovince()">
        <ul>
            <li class="logobox"><a href="http://vw.faw-vw.com/"><img src="angularweb/assets/images/Logo_new.png" width="60" height="79"></a></li>
            <li>
                <a href="http://vw.faw-vw.com/">
                    <div class="nav_size lefticon icon-car"></div>
                    <span>{{translation.general.OverviewOfModels}}</span>
                </a>
            </li>
            <li>
                <a href="http://ibuy.faw-vw.com/Official/">
                    <div class="nav_size lefticon icon-findadealer"></div>
                    <span>{{translation.general.PeopleLookForTheCar}}</span>
                </a>
            </li>
            <li>
                <a href="http://ibuy.faw-vw.com/Official/">
                    <div class="nav_size lefticon icon-importer"></div>
                    <span>{{translation.general.VolkswagenBrand}}</span>
                </a>
            </li>
            <li>
                <a href="http://vw.faw-vw.com/newmagotanmycar">
                    <div class="nav_size lefticon icon-dealer" ></div>
                    <span>{{translation.general.CentreOwners}}</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="nav_size lefticon icon-more"></div>
                    <span>{{translation.general.More}}</span>
                </a>
            </li>

        </ul>
    </div>

    <!-- 主导航 更多内容 移动端主导航内容 -->
    <div id="main_nav_more" data-count="1">
        <div class="mobile_nav_shadow"></div>
        <div class="desktop-searchbox">
            <div class="fancy-input">
                <span class="vwicon icon-searchglass"></span>
                <div class="input-wrapper-search">
                    <input type="text" value="search" name="searchtxt" class="searchformtext" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <ul>
            <li>
                <a href="http://vw.faw-vw.com/">
                    <div class="nav_size vwicon icon-car"></div>
                    <span>{{translation.general.OverviewOfModels}}</span>
                </a>
            </li>
            <li>
                <a href="http://ibuy.faw-vw.com/Official/">
                    <div class="nav_size vwicon icon-findadealer"></div>
                    <span>{{translation.general.PeopleLookForTheCar}}</span>
                </a>
            </li>
            <li>
                <a href="http://ibuy.faw-vw.com/Official/">
                    <div class="nav_size vwicon icon-importer"></div>
                    <span>{{translation.general.VolkswagenBrand}}</span>
                </a>
            </li>
            <li>
                <a href="http://vw.faw-vw.com/newmagotanmycar">
                    <div class="nav_size vwicon icon-dealer" ></div>
                    <span>{{translation.general.CentreOwners}}</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="nav_size vwicon icon-more"></div>
                    <span>{{translation.general.More}}</span>
                </a>
            </li>
        </ul>
        <!--<div style="width: 100%; background-color: #B6BDD2; height: 50px;"></div>-->
    </div>
<!--************ 主导航包含 end  ************--->

    <!-- 主体内容 -->
    <div class=" mainbody" >
        <div class="mask"></div>
        <div class="top_link">
            <div class="container-fluid toolsbox">
                <ul class="nav navbar-nav navbar-left">
                    <li class="car_name">{{translation.general.DealerLocator}}</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="toolslink">
                        <a href="http://vw.faw-vw.com/newmagotanorder">
                            <div><span class="icon-testdrive"></span></div>
                            <span class="atext">{{translation.general.ArrangeATestDrive}}</span>
                        </a>
                    </li>
                    <li class="toolslink">
                        <a href="http://vw.faw-vw.com/newmagotanmydealer">
                            <div><span class="icon-searchdealer"></span></div>
                            <span class="atext">{{translation.general.DealerLocator}}</span>
                        </a>
                    </li>
                    <li class="toolslink">
                        <a href="http://kf02.faw-vw-dns.com/new/client.php?arg=faw-vw&style=1">
                            <div><span class="icon-support"></span></div>
                            <span class="atext">{{translation.general.OnlineService}}</span>
                        </a>

                    </li>
                </ul>
            </div>
        </div>

        <!-- 自定义内容开始 -->
        <div class="dealer-map">
			<div id="dealer-map">
		<!-- 	<baidu-map options="mapOptions" ak="4U6z88V8GZTUyvT6QnMUczUzQetGe5bs" offline="offlineOpts"
				style="width: 100%; height: 100vh;display: block;"
				on-map-loaded="mapLoaded(map)"></baidu-map> -->
			</div>
		</div>
		<div class="dealer-right" >
			<div class="dealer-form">
				<div class="title">{{translation.searchDealer.FindADealerNearYou}}</div>
				<div class="province">
					<p>{{translation.general.Province}}</p>
				<!-- 	<select name="" id="province" data-placeholder="省份">
						<option value=""></option>
					</select> -->					
					<!-- <select id="search_province" data-placeholder = "province"> 
					<option value="1" selected="selected">Select the Province</option>
						<option ng-repeat="x in provinces" value="{{x}}">{{x}}</option>
						</select> -->
						
						 <select chosen
					        inherit-select-classes="true"
					        placeholder-text-single={{translation.general.Province}}
					        disable-search="true"
					        
					        ng-model="province"
					        ng-options="p as p.province_name for p in provinces"							
					        id="search_province"
					        on-change="changeCityList">		
					        <option value='' disabled selected  style="display: none;">{{translation.general.Province}}</option>					        			          
					      </select>
				</div>
				<div class="city">
					<p>{{translation.general.City}}</p>
						<!-- <select name="" id="search_city" placeholder={{translation.general.City}}>-->
						<!-- <option value=""></option> -->
					<!-- 	<option ng-repeat="x in cities" value="{{x}}">{{x}}</option> -->
						<!-- </select> -->
						
					      <select chosen
					        inherit-select-classes="true"
					        placeholder-text-single={{translation.general.City}}
					        disable-search="true"
					        
					        ng-model="city"
					        ng-options="c as c.city_name for c in cities"
							id="search_city"
							on-change="searchDealer" >		
						   <option value='' disabled selected  style="display: none;">{{translation.general.City}}</option>										          
					      </select>
				</div>
				<div class="dealer-type">
					<p>{{translation.searchDealer.DealerType}}</p>
						<select chosen
					        inherit-select-classes="true"					        
					        disable-search="true"
					        placeholder-text-single={{translation.searchDealer.DealerType}}
					        ng-model="dealerType"
					        ng-options="d as d.name for d in dealerTypes"
							id="search_dealerType"
							on-change="searchDealer">	
							<option value='' disabled selected  style="display: none;">{{translation.searchDealer.DealerType}}</option>				          
					    </select>					   
				</div>
			</div>
			<h3 class="search-title">{{translation.searchDealer.Found}}<span> {{searchResultCount}} </span>{{translation.searchDealer.Results}}</h3>
			<br/>
			<div class="search-result">				
				<div class="search-result-box" id="search-result-box">
					<ul>
						 <li ng-repeat="x in searchResult" ng-class="getBgClass($index)">
							 <p class="name">{{$index + 1}}. {{x.full_name}}  </p> 
							 <p class="address">{{x.address}} </p> 
							 <p class="phone">{{x.sales_hotline}} </p>
						 </li>
					</ul>
				</div>
					
			</div>
		</div>
        <!-- 自定义内容结束 -->
        
    </div>