<!-- <!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="style/bootstrap.css" rel="stylesheet">
    [if lt IE 9]>
        <script src="js/css3-mediaqueries.js"></script>
        <script src="js/html5shiv.min.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]
    <link href="style/common_pc.css" rel="stylesheet">
    <link href="style/recruit.css" rel="stylesheet">
    <title>经销商招募</title>

</head>
<body>

<div id="container"> -->
<!--************ 主导航包含 start  ************--->
    <!-- 主导航 -->
   <!-- 主导航 -->
    <div id="main_nav" >
        <ul>
            <li class="logobox"><a href="http://vw.faw-vw.com/"><img src="angularweb/assets/images/Logo_new.png" width="60" height="79"></a></li>
            <li>
                <a href="http://vw.faw-vw.com/">
                    <div class="nav_size lefticon icon-car"></div>
                    <span>{{translation.general.OverviewOfModels}}</span>
                </a>
            </li>
            <li>
                <a href="http://ibuy.faw-vw.com/Official/">
                    <div class="nav_size lefticon icon-findadealer"></div>
                    <span>{{translation.general.PeopleLookForTheCar}}</span>
                </a>
            </li>
            <li>
                <a href="http://ibuy.faw-vw.com/Official/">
                    <div class="nav_size lefticon icon-importer"></div>
                    <span>{{translation.general.VolkswagenBrand}}</span>
                </a>
            </li>
            <li>
                <a href="http://vw.faw-vw.com/newmagotanmycar">
                    <div class="nav_size lefticon icon-dealer" ></div>
                    <span>{{translation.general.CentreOwners}}</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="nav_size lefticon icon-more"></div>
                    <span>{{translation.general.More}}</span>
                </a>
            </li>

        </ul>
    </div>
    <!-- 手机顶部logo及导航三线按钮 -->
    <div id="mobile_nav">
        <div class="logobox"><img src="angularweb/assets/images/Logo_new.png"></div>
        <div class="burger_menu">
            <div class="burger_line"></div>
            <div class="burger_line"></div>
            <div class="burger_line"></div>
        </div>
    </div>
    <!-- 主导航 更多内容 移动端主导航内容 -->
    <div id="main_nav_more" data-count="1">
       <div class="mobile_nav_shadow"></div>
        <div class="desktop-searchbox">
            <div class="fancy-input">
                <span class="vwicon icon-searchglass"></span>
                <div class="input-wrapper-search">
                    <input type="text" value="search" name="searchtxt" class="searchformtext" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <ul>
            <li>
                <a href="http://vw.faw-vw.com/">
                    <div class="nav_size vwicon icon-car"></div>
                    <span>{{translation.general.OverviewOfModels}}</span>
                </a>
            </li>
            <li>
                <a href="http://ibuy.faw-vw.com/Official/">
                    <div class="nav_size vwicon icon-findadealer"></div>
                    <span>{{translation.general.PeopleLookForTheCar}}</span>
                </a>
            </li>
            <li>
                <a href="http://ibuy.faw-vw.com/Official/">
                    <div class="nav_size vwicon icon-importer"></div>
                    <span>{{translation.general.VolkswagenBrand}}</span>
                </a>
            </li>
            <li>
                <a href="http://vw.faw-vw.com/newmagotanmycar">
                    <div class="nav_size vwicon icon-dealer" ></div>
                    <span>{{translation.general.CentreOwners}}</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="nav_size vwicon icon-more"></div>
                    <span>{{translation.general.More}}</span>
                </a>
            </li>
        </ul>
        <!--<div style="width: 100%; background-color: #B6BDD2; height: 50px;"></div>-->
    </div>
<!--************ 主导航包含 end  ************--->

    <!-- 主体内容 -->
    <div class="container-fluid mainbody">
        <div class="mask"></div>
        <div class="top_link">
            <div class="container-fluid toolsbox">
                <ul class="nav navbar-nav navbar-left">
                    <li class="car_name">{{translation.dealerRecruitmentRegister.dealerRecruitment}}</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="toolslink">
                        <a href="#/testDrive">
                            <div><span class="icon-testdrive"></span></div>
                            <span class="atext">{{translation.general.ArrangeATestDrive}}</span>
                        </a>
                    </li>
                    <li class="toolslink">
                        <a href="#/searchDealer">
                            <div><span class="icon-searchdealer"></span></div>
                            <span class="atext">{{translation.general.DealerLocator}}</span>
                        </a>
                    </li>
                    <li class="toolslink">
                        <a href="http://kf02.faw-vw-dns.com/new/client.php?arg=faw-vw&style=1">
                            <div><span class="icon-support"></span></div>
                            <span class="atext">{{translation.general.OnlineService}}</span>
                        </a>
                    </li>
                </ul>
            </div>
          
             <div class="sub_nav" id="navbar-carinfo">
                <ul class="nav nav-pills">
                    <li class="active"><a>{{translation.dealerRecruitment.recruitment_home}}</a></li>
                    <li><a ng-href="{{recruitDetailsPageUrl}}" ng-click="setRecruitmentType('L1')">{{translation.dealerRecruitment.recruitmentNetwork}}</a></li>
                    <li><a ng-href="{{recruitDetailsPageUrl}}" ng-click="setRecruitmentType('L2')">{{translation.dealerRecruitment.secondary_nw_recruitment}}</a></li>
                    <li><a ng-if="isUserLoggedIn" ng-click="myRecordClicked()">{{translation.dealerRecruitment.my_records}}</a></li>
                </ul>
                <div class="login-box">                    
                    <span ng-if="!isUserLoggedIn"><p>{{translation.dealerRecruitment.login_msg}}</p> 
                    	<a style="cursor:pointer;" ng-click="loginClicked()">{{translation.general.login}}</a> | 
                    	<a style="cursor:pointer;" ng-click="registerClicked()">{{translation.general.register}}</a>
                    </span>
                    <a style="cursor:pointer;" ng-if="isUserLoggedIn" class="logout" ng-click="logoutClicked()">[{{translation.general.logout}}]</a>
                </div>
            </div>
        </div>

        <!-- 自定义内容开始 -->
        <div id="recruit">
            <div class="banner">
                <img src="angularweb/assets/images/recruit/banner.jpg" alt="">
            </div>
            <div class="text">
                作为一汽-大众汽车有限公司子公司的一汽-大众销售有限责任公司，从1997年开始，一直致力于打造一支具有国际竞争力的营销网络体系。目前一汽-大众（大众）品牌4S经销网络已达到800余家，分布在全国近300个城市。为了向用户提供更高质量的服务，提升面向未来的网络体系能力，一汽-大众销售有限责任公司拟在下列城市以招募形式诚征一汽-大众（大众）品牌特许经销商，真诚欢迎有识之士及有实力的企业加盟。<br /><br />每个月的前5天更新招募城市信息，在此期间招募网页仅能浏览，不能进行在线申报。为避免因您的意向建店城市在招募城市更新时被移除而导致申报失败，请尽量在月底前完成在线申报
            </div>
            <a ng-href="{{recruitDetailsPageUrl}}" ng-click="setRecruitmentType('L1')" class="btn">{{translation.dealerRecruitment.recruitmentNetwork}}</a>
            <a ng-href="{{recruitDetailsPageUrl}}" ng-click="setRecruitmentType('L2')" class="btn">{{translation.dealerRecruitment.secondary_nw_recruitment}}</a>
        </div>
        
        <!-- 自定义内容结束 -->
        
    </div>
</div>
<!-- 
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/common.js"></script>

</body>
</html> -->