<!-- <!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="style/bootstrap.css" rel="stylesheet">
    <link href="style/chosen.css" rel="stylesheet">
    [if lt IE 9]>
        <script src="js/css3-mediaqueries.js"></script>
        <script src="js/html5shiv.min.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]
    <link href="style/common_pc.css" rel="stylesheet">
    <link href="style/recruit.css" rel="stylesheet">
    <title>经销商招募</title>

</head>
<body>

<div id="container"> -->
<!--************ 主导航包含 start  ************--->
    <!-- 主导航 -->
    <div id="main_nav">
        <ul>
            <li class="logobox"><a href="http://vw.faw-vw.com/"><img src="angularweb/assets/images/Logo_new.png" width="60" height="79"></a></li>
            <li>
                <a href="http://vw.faw-vw.com/">
                    <div class="nav_size lefticon icon-car"></div>
                    <span>{{translation.general.OverviewOfModels}}</span>
                </a>
            </li>
            <li>
                <a href="http://ibuy.faw-vw.com/Official/">
                    <div class="nav_size lefticon icon-findadealer"></div>
                    <span>{{translation.general.PeopleLookForTheCar}}</span>
                </a>
            </li>
            <li>
                <a href="http://ibuy.faw-vw.com/Official/">
                    <div class="nav_size lefticon icon-importer"></div>
                    <span>{{translation.general.VolkswagenBrand}}</span>
                </a>
            </li>
            <li>
                <a href="http://vw.faw-vw.com/newmagotanmycar">
                    <div class="nav_size lefticon icon-dealer" ></div>
                    <span>{{translation.general.CentreOwners}}</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="nav_size lefticon icon-more"></div>
                    <span>{{translation.general.More}}</span>
                </a>
            </li>

        </ul>
    </div>
    <!-- 手机顶部logo及导航三线按钮 -->
    <div id="mobile_nav">
        <div class="logobox"><img src="angularweb/assets/images/Logo_new.png"></div>
        <div class="burger_menu">
            <div class="burger_line"></div>
            <div class="burger_line"></div>
            <div class="burger_line"></div>
        </div>
    </div>
    <!-- 主导航 更多内容 移动端主导航内容 -->
    <div id="main_nav_more" data-count="1">
        <div class="mobile_nav_shadow"></div>
        <div class="desktop-searchbox">
            <div class="fancy-input">
                <span class="vwicon icon-searchglass"></span>
                <div class="input-wrapper-search">
                    <input type="text" value="search" name="searchtxt" class="searchformtext" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <ul>
            <li>
                <a href="http://vw.faw-vw.com/">
                    <div class="nav_size vwicon icon-car"></div>
                    <span>{{translation.general.OverviewOfModels}}</span>
                </a>
            </li>
            <li>
                <a href="http://ibuy.faw-vw.com/Official/">
                    <div class="nav_size vwicon icon-findadealer"></div>
                    <span>{{translation.general.PeopleLookForTheCar}}</span>
                </a>
            </li>
            <li>
                <a href="http://ibuy.faw-vw.com/Official/">
                    <div class="nav_size vwicon icon-importer"></div>
                    <span>{{translation.general.VolkswagenBrand}}</span>
                </a>
            </li>
            <li>
                <a href="http://vw.faw-vw.com/newmagotanmycar">
                    <div class="nav_size vwicon icon-dealer" ></div>
                    <span>{{translation.general.CentreOwners}}</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="nav_size vwicon icon-more"></div>
                    <span>{{translation.general.More}}</span>
                </a>
            </li>
        </ul>
        <!--<div style="width: 100%; background-color: #B6BDD2; height: 50px;"></div>-->
    </div>
<!--************ 主导航包含 end  ************--->

    <!-- 主体内容 -->
    <div class="container-fluid mainbody">
        <div class="mask"></div>
        <div class="top_link">
            <div class="container-fluid toolsbox">
                <ul class="nav navbar-nav navbar-left">
                    <li class="car_name">{{translation.dealerRecruitmentRegister.dealerRecruitment}}</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="toolslink">
                        <a href="http://vw.faw-vw.com/newmagotanorder">
                            <div><span class="icon-testdrive"></span></div>
                            <span class="atext">{{translation.general.ArrangeATestDrive}}</span>
                        </a>
                    </li>
                    <li class="toolslink">
                        <a href="http://vw.faw-vw.com/newmagotanmydealer">
                            <div><span class="icon-searchdealer"></span></div>
                            <span class="atext">{{translation.general.DealerLocator}}</span>
                        </a>
                    </li>
                    <li class="toolslink">
                        <a href="http://kf02.faw-vw-dns.com/new/client.php?arg=faw-vw&style=1">
                            <div><span class="icon-support"></span></div>
                            <span class="atext">{{translation.general.OnlineService}}</span>
                        </a>

                    </li>
                </ul>
            </div>
            
            <div class="sub_nav" id="navbar-carinfo">
                <ul class="nav nav-pills">
                    <li><a ng-href="{{recruitmentHomeUrl}}">{{translation.dealerRecruitment.recruitment_home}}</a></li>
                    <li ng-class="getNavClass('L1')"><a ng-click="setRecruitNetworkType('L1')">{{translation.dealerRecruitment.recruitmentNetwork}}</a></li>
                    <li ng-class="getNavClass('L2')"><a ng-click="setRecruitNetworkType('L2')">{{translation.dealerRecruitment.secondary_nw_recruitment}}</a></li>
                    <li><a ng-if=isUserLoggedIn ng-click="myRecordClicked()">{{translation.dealerRecruitment.my_records}}</a></li>
                </ul>
                <div class="login-box">                    
                    <span ng-if="!isUserLoggedIn"><p>{{translation.dealerRecruitment.login_msg}}</p> 
                    <a style="cursor:pointer;" ng-click="loginClicked()">{{translation.general.login}}</a> | 
                    <a style="cursor:pointer;" ng-click="registerClicked()">{{translation.general.register}}</a></span>
                    <a ng-if="isUserLoggedIn" style="cursor:pointer;" class="logout" ng-click="logoutClicked()">[{{translation.general.logout}}]</a>
                    
                </div>                
            </div>
        </div>

        <!-- 自定义内容开始 -->
        <div id="recruit" class="recruit-details">
            <h2>2016年第二批大众品牌一级网络招募</h2>
            <a style="cursor:pointer;" ng-click="exapndTab3()" class="reg-now btn">立即申请</a>
            <ul class="details_list">
                <li>
                    <h3 name="tab1" id="tab1">申报场地要求</h3>
                    <div class="content">
                        <ul class="text-list">
                            <li>为在工商管理部门注册的企业法人单位且注册资本不低于200万元人民币。</li>
                            <li>拥有乘用车经营经历，所经营的品牌拥有良好的业绩表现。在所处地域的乘用车市场有较强的影响力，具有地域优势。</li>
                            <li>具备先进的经营理念及优秀的市场开拓能力，理解并认同一汽-大众的品牌文化，愿意长期投资，与一汽-大众携手共同发展。</li>
                            <li>具备一定的资金实力，建店及日常运营资金充足，融资能力较强。</li>
                            <li>有能力组建符合一汽-大众大众品牌标准的经营管理团队。</li>
                            <li class="color">网内投资人需满足商务计划（STD）完成率及综合评价（GE）的有关要求，详情以内部邮件为准。</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <h3 name="tab2" id="tab2">申报场地要求</h3>
                    <div class="content">
                        <ul class="text-list">
                            <li>拥有或者能够拥有符合一汽-大众大众品牌4S店建设需求的土地使用权。面积足够，地理位置优越，且使用期限不低于10年。</li>
                            <li>申请单位提报的场地位置不在招募区位范畴内的视为无效申请。</li>
                            <li>原则上拟建店场地位置距现有一汽-大众大众品牌销售服务一体特许经销商行程5公里以上。</li>
                            <li>场地方案：下表面积仅供参考，具体以一汽-大众最终确认的建店设计方案为准。</li>
                        </ul>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr class="bg">
                              <td colspan="2" rowspan="2" class="bold">建店规模</td>
                              <td colspan="4" class="bold">Ⅰ型</td>
                              <td colspan="4" class="bold">Ⅱ型</td>
                              <td colspan="2" class="bold">Ⅲ型</td>
                              <td class="bold">Ⅳ型</td>
                            </tr>
                            <tr class="bg">
                              <td class="bold">Ⅰ-a1</td>
                              <td class="bold">Ⅰ-a2</td>
                              <td class="bold">Ⅰ-b1</td>
                              <td class="bold">Ⅰ-b2</td>
                              <td class="bold">Ⅱ-a1</td>
                              <td class="bold">Ⅱ-a2</td>
                              <td class="bold">Ⅱ-b1</td>
                              <td class="bold">Ⅱ-b2</td>
                              <td class="bold">Ⅲ -a1</td>
                              <td class="bold">Ⅲ -a2</td>
                              <td class="bold">Ⅳ-a1</td>
                            </tr>
                            <tr>
                              <td rowspan="3" class="bold">场地</td>
                              <td class="bold">临街面宽<br>
                              （米）</td>
                              <td>70</td>
                              <td>70</td>
                              <td>112</td>
                              <td>109</td>
                              <td>60</td>
                              <td>60</td>
                              <td>117</td>
                              <td>104</td>
                              <td>48</td>
                              <td>68</td>
                              <td>53</td>
                            </tr>
                            <tr>
                              <td class="bold">进深<br>
                              (米)</td>
                              <td>125</td>
                              <td>99</td>
                              <td>86</td>
                              <td>81</td>
                              <td>123</td>
                              <td>100</td>
                              <td>68</td>
                              <td>66</td>
                              <td>118</td>
                              <td>90</td>
                              <td>92</td>
                            </tr>
                            <tr>
                              <td class="bold">面积<br>
                              (平方米)</td>
                              <td>8750</td>
                              <td>6930</td>
                              <td>9632</td>
                              <td>8829</td>
                              <td>7380</td>
                              <td>6000</td>
                              <td>7956</td>
                              <td>6864</td>
                              <td>5664</td>
                              <td>6120</td>
                              <td>4876</td>
                            </tr>
                            <tr class="bg1">
                              <td rowspan="3" class="bold">建筑<br />(含洗车房)</td>
                              <td class="bold">临街面宽<br>
                              （米）</td>
                              <td>70</td>
                              <td>70</td>
                              <td>112</td>
                              <td>109</td>
                              <td>60</td>
                              <td>60</td>
                              <td>117</td>
                              <td>104</td>
                              <td>48</td>
                              <td>68</td>
                              <td>53</td>
                            </tr>
                            <tr class="bg1">
                              <td class="bold">进深<br>
                              (米)</td>
                              <td>125</td>
                              <td>99</td>
                              <td>86</td>
                              <td>81</td>
                              <td>123</td>
                              <td>100</td>
                              <td>68</td>
                              <td>66</td>
                              <td>118</td>
                              <td>90</td>
                              <td>92</td>
                            </tr>
                            <tr class="bg1">
                              <td class="bold">用地面积<br>
                              (平方米)</td>
                              <td>8750</td>
                              <td>6930</td>
                              <td>9632</td>
                              <td>8829</td>
                              <td>7380</td>
                              <td>6000</td>
                              <td>7956</td>
                              <td>6864</td>
                              <td>5664</td>
                              <td>6120</td>
                              <td>4876</td>
                            </tr>
                            <tr>
                              <td colspan="2" class="bold">工位</td>
                              <td colspan="4">≥18</td>
                              <td colspan="4">12-18</td>
                              <td colspan="2">10-11</td>
                              <td>6-9</td>
                            </tr>
                            <tr class="bg1">
                              <td colspan="2" class="bold">备注</td>
                              <td>车间单层<br>
                              布置</td>
                              <td>车间双层<br>
                              布置</td>
                              <td>车间单层<br>
                              横向布置<br></td>
                              <td>车间双层<br>
                              横向布置</td>
                              <td>车间单层<br>
                              布置</td>
                              <td>车间双层<br>
                              布置</td>
                              <td>车间单层<br>
                              横向布置<br></td>
                              <td>车间双层<br>
                              横向布置</td>
                              <td>车间单层<br>
                              布置</td>
                              <td>车间单层<br>
                              横向布置<br></td>
                              <td>车间单层<br>
                              布置</td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </li>
                <li>
                    <h3 name="tab3" id="tab3">申报流程</h3>
                    <div class="content">
                        <ul class="text-list">
                            <li>在线申报：选择申报城市，在线填写申报信息并提交成功后获得招募编码并下载申请书模板；</li>
                            <li>线下邮寄：按要求将申请书填写完整，在线申报完成后20天内将申请书及其附件寄出；</li>
                            <li>初步审核：一汽-大众对申请者资质及提报的申请材料进行初步审核；</li>
                            <li>现场考察：一汽-大众对具备有关资质条件且通过初步审核的申请者进行实地走访考察；</li>
                            <li>预授权审批：一汽-大众根据申请者提交的材料以及现场考察的结果，进行预授权审批；</li>
                            <li>签署意向书：审批通过的申请者，将被邀请到长春签订《投资意向书》。</li>
                        </ul>
                        <a style="cursor:pointer;" ng-model="tab3" ng-click="expandTab4()" class="btn">申请</a>
                    </div>
                </li>
                <li>
                    <h3 name="tab4" id="tab4">招募城市</h3>
                    <div class="content">
                        <div class="line select-box">
                            <p>当前可选城市</p>
                           <!--  <select name="" id="" data-placeholder="{{translation.general.Province}}" ng-model="recruitprovince">
                                <option value="">省份</option>
                                <option ng-repeat="x in recruitProvince" value="{{x}}">{{x}}</option>
                            </select> -->
                          
                            <select chosen
					        	placeholder-text-single={{translation.general.Province}}					        
					        	disable-search="true"					        
					        	ng-model="recruit_province"
					        	ng-options="p as p for p in filteredprovinces"							
					       	 	id="recruit_province"
					         	width="30%"
					        	on-change="provinceRecruitChange">		
					        	<option value='' disabled selected  style="display: none;">{{translation.general.Province}}</option>					        			          
					      	</select>
					   
					    
					        <select chosen
					         	placeholder-text-single={{translation.general.City}}					        
					        	disable-search="true"					        
					        	ng-model="recruit_city"
					        	ng-options="c.city as c.city for c in recruitcity"							
					        	id="recruit_city"
					        	width="30%"
					       		 on-change="cityChange">		
					        <option value=""></option>
					        <!-- <option value='' disabled selected  style="display: none;">city</option>	 -->				        			          
					      </select>
					   
                          <!--   <select name="" id="" data-placeholder="{{translation.general.City}}">
                                <option value="">城市</option>
                            </select> -->
                            <select chosen
					        	placeholder-text-single={{translation.general.district}}						        
					        	disable-search="true"					        
					        	ng-model="recruit_select_district"
					        	ng-options="c.district as c.district for c in recruitdistrict"						
					        	id="recruit_district "
					        	 width="30%">		
					        	<option value='' disabled selected  style="display: none;">{{translation.general.district}}</option>					        			          
					      	</select>
                            <!-- <select name="" id="" data-placeholder="{{translation.general.district}}">
                                <option value="">区县</option>
                            </select> -->
                            <a style="cursor:pointer;"  ng-click="filterData()" class="btn">查询</a>
                        </div>

                        <div class="city-list">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" >
                                <tr class="frist">
                                    <td>{{translation.recruit_details.no}}</td>
                                    <td>{{translation.recruit_details.select}}</td>
                                    <td>{{translation.general.Province}}</td>
                                    <td>{{translation.general.City}}</td>
                                    <td>{{translation.general.district}}</td>
                                    <td>{{translation.recruit_details.recuirtType}}</td>
                                    <td>{{translation.recruit_details.recuirtNo}}</td>
                                    <td>{{translation.recruit_details.remark}}</td>
                                </tr>
                                <tr ng-class="getTrClass($index)"  dir-paginate="item in recruitCityDetails.recruitingCities|itemsPerPage:itemsPerPage" total-items="recruitCityDetails.totalRecordCount">
                                    <td class="center">{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                                    <td class="radio-box23 center">
                                    	<span ng-class="radClass(item)" ng-click="selectRow(item)"></span></td>
                                    <td>{{item.province}}</td>
                                    <td>{{item.city}}</td>
                                    <td>{{item.district}}</td>
                                    <td class="center">{{item.recruitmentType}}</td>
                                    <td class="center">{{item.recruitmentNumber}}</td>
                                    <td>{{item.remarks}}</td>
                                </tr>
                              <!--   <tr>
                                    <td class="center">2</td>
                                    <td class="radio-box23 center"><span class="radio"></span></td>
                                    <td>天津市Tianjin</td>
                                    <td>天津市Tianjin</td>
                                    <td>市区Urban(优先Priority：宝坻区Baodi District)</td>
                                    <td class="center">L1(I/II)</td>
                                    <td class="center">1</td>
                                    <td></td>
                                </tr>
                                <tr class="bg">
                                    <td class="center">3</td>
                                    <td class="radio-box23 center"><span class="radio"></span></td>
                                    <td>山西省Shanxi</td>
                                    <td>临汾市Linfen</td>
                                    <td>市区Urban</td>
                                    <td class="center">L1(II/III/IV)</td>
                                    <td class="center">1</td>
                                    <td></td>
                                </tr> -->
                            </table>
                        <!--     <div class="page-list">
                                <a href="#" class="page-prev"><</a>
                                <a href="#" class="active">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <a href="#" class="page-next">></a>
                            </div> -->
                            
                            
                            <div class="page-list">
                                <!--  <div  dir-paginate="item in users|itemsPerPage:1"/> -->
        <!--                      <dir-pagination-controls
        max-size="8" -->
        <dir-pagination-controls
        max-size="6"
        direction-links="true"
        boundary-links="true" 
        on-page-change="getData(newPageNumber)">
    </dir-pagination-controls>
    </div>
   
     <!--         <div  dir-paginate="item in users|itemsPerPage:10"/>
                             <dir-pagination-controls
        max-size="5"
        direction-links="true"
        boundary-links="true" 
        on-page-change="getData(newPageNumber)">
    </dir-pagination-controls>
 <br/> -->
                            <a style="cursor:pointer;"  ng-click="apply()" class="btn" >申请</a>
                        </div>
                    </div>
                </li>
                <li>
                    <h3 name="tab5" id="tab5">时间要求</h3>
                    <div class="content">
                        <ul class="text-list">
                            <li>
                                <h4>在线申报信息提交时间要求</h4>
                                <p>每个月的前5天更新招募城市信息，在此期间招募网页仅能浏览，不能进行在线申报。为避免因您的意向建店城市在招募城    市更新时被移除而导致申报失败，请尽量在月底前完成在线申报。</p>
            
                            </li>
                            <li>
                                <h4>纸版申请书邮寄时间要求</h4>
                                <p>一切申报信息以纸版申请书为准，线上申报信息提交成功后，务必在20天内将纸版申请书寄出。</p>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <h3 name="tab6" id="tab6">联系方式</h3>
                    <div class="content">
                        <ul class="text-list">
                            <li>
                                <h4>招募联系方式</h4>
                                <p>联系人：侯华南先生 / 李晓佳女士</p>
                                <p>联系电话：0431-85865505 / 0431-85120290</p>
                                <p>E-mail：xiaojia.li@faw-vw.com</p>
                                <p>邮寄地址：吉林省长春市普阳街3333号B座   一汽-大众销售有限责任公司大众品牌网络发展部   邮编：130011</p>
                            </li>
                            <li>
                                <h4>纪检部门联系方式</h4>
                                <p>一汽集团纪委 ：电话Tel.：0431-85903333    邮箱： xfs_jjw@faw.com.cn</p>
                                <p>一汽-大众纪委：电话Tel.：0431-85990007    邮箱： dcso@faw-vw.com</p>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <h3 name="tab7" id="tab7">特殊事项</h3>
                    <div class="content">
                        <ul class="text-list">
                            <li>如果申请者使用退网不足3年的一汽-大众大众品牌经销商设施进行申报，且该设施未改造为其他品牌4S店或用作其他用途经营（非整车销售、维修服务），可放宽对于该申请者的资质要求：</li>
                            <li>网内投资人不要求STD完成率及GE成绩排名成绩；</li>
                            <li>网外投资人不要求行业经验，无汽车行业经验的申请者，需要组建有经验的管理团队。</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        
        <!-- 自定义内容结束 -->
          <div class="popup" id="save-ok">
        <div class="popup-content" style="width:60%;margin-left:-350px;background:#fff">
            <a style="cursor:pointer;" class="popup-close" ng-click="popupClose()"></a>
            <div class="content-box">
                <p>{{translation.recruit_details.loginPromptMsg}}
					{{translation.recruit_details.registerPromptMsg}}
				</p>	
                <a style="cursor:pointer;" class="btn-back" ng-click="loginPage()">{{translation.general.login}}</a>
                <a style="cursor:pointer;" class="btn-record" ng-click="registerPage()">{{translation.general.register}}</a>
            </div>
        </div>
    </div>
    </div>
    <style>
		.chosen-container{
		  width: 30% !important;
		}
</style>

<!-- </div>

<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/chosen.jquery.js"></script>
<script src="js/common.js"></script>
<script src="js/recruit_details.js"></script>
</body>
</html> -->