
    <div id="main_nav">
        <ul>
            <li class="logobox"><a href="http://vw.faw-vw.com/"><img src="angularweb/assets/images/Logo_new.png" width="60" height="79"></a></li>
            <li>
                <a href="http://vw.faw-vw.com/">
                    <div class="nav_size lefticon icon-car"></div>
                    <span>{{translation.general.OverviewOfModels}}</span>
                </a>
            </li>
            <li>
                <a href="http://ibuy.faw-vw.com/Official/">
                    <div class="nav_size lefticon icon-findadealer"></div>
                    <span>{{translation.general.PeopleLookForTheCar}}</span>
                </a>
            </li>
            <li>
                <a href="http://ibuy.faw-vw.com/Official/">
                    <div class="nav_size lefticon icon-importer"></div>
                    <span>{{translation.general.VolkswagenBrand}}</span>
                </a>
            </li>
            <li>
                <a href="http://vw.faw-vw.com/newmagotanmycar">
                    <div class="nav_size lefticon icon-dealer" ></div>
                    <span>{{translation.general.CentreOwners}}</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="nav_size lefticon icon-more"></div>
                    <span>{{translation.general.More}}</span>
                </a>
            </li>

        </ul>
    </div>
    <div id="mobile_nav">
        <div class="logobox"><img src="images/Logo_new.png"></div>
        <div class="burger_menu">
            <div class="burger_line"></div>
            <div class="burger_line"></div>
            <div class="burger_line"></div>
        </div>
    </div>
    <div id="main_nav_more" data-count="1">
        <div class="mobile_nav_shadow"></div>
        <div class="desktop-searchbox">
            <div class="fancy-input">
                <span class="vwicon icon-searchglass"></span>
                <div class="input-wrapper-search">
                    <input type="text" value="search" name="searchtxt" class="searchformtext" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <ul>
            <li>
                <a href="http://vw.faw-vw.com/">
                    <div class="nav_size vwicon icon-car"></div>
                    <span>{{translation.general.OverviewOfModels}}</span>
                </a>
            </li>
            <li>
                <a href="http://ibuy.faw-vw.com/Official/">
                    <div class="nav_size vwicon icon-findadealer"></div>
                    <span>{{translation.general.PeopleLookForTheCar}}</span>
                </a>
            </li>
            <li>
                <a href="http://ibuy.faw-vw.com/Official/">
                    <div class="nav_size vwicon icon-importer"></div>
                    <span>{{translation.general.VolkswagenBrand}}</span>
                </a>
            </li>
            <li>
                <a href="http://vw.faw-vw.com/newmagotanmycar">
                    <div class="nav_size vwicon icon-dealer" ></div>
                    <span>{{translation.general.CentreOwners}}</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="nav_size vwicon icon-more"></div>
                    <span>{{translation.general.More}}</span>
                </a>
            </li>
        </ul>
        <div style="width: 100%; background-color: #B6BDD2; height: 50px;"></div>
    </div>
    <div class="container-fluid mainbody">
        <div class="mask"></div>
        <div class="top_link">
            <div class="container-fluid toolsbox">
                <ul class="nav navbar-nav navbar-left">
                    <li class="car_name">{{translation.dealerRecruitmentRegister.dealerRecruitment}}</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="toolslink">
                        <a href="http://vw.faw-vw.com/newmagotanorder">
                            <div><span class="icon-testdrive"></span></div>
                            <span class="atext">{{translation.general.ArrangeATestDrive}}</span>
                        </a>
                    </li>
                    <li class="toolslink">
                        <a href="http://vw.faw-vw.com/newmagotanmydealer">
                            <div><span class="icon-searchdealer"></span></div>
                            <span class="atext">{{translation.general.DealerLocator}}</span>
                        </a>
                    </li>
                    <li class="toolslink">
                        <a href="http://kf02.faw-vw-dns.com/new/client.php?arg=faw-vw&style=1">
                            <div><span class="icon-support"></span></div>
                            <span class="atext">{{translation.general.OnlineService}}</span>
                        </a>

                    </li>
                </ul>
            </div>
            <div class="sub_nav" id="navbar-carinfo">
                <ul class="nav nav-pills">
                    <li><a ng-href="{{recruitmentHomeUrl}}">{{translation.dealerRecruitment.recruitment_home}}</a></li>
                    <li class="active"><a ng-href="{{recruitDetailsPageUrl}}" ng-click="setRecruitmentType('L1')">{{translation.dealerRecruitment.recruitmentNetwork}}</a></li>
                    <li><a ng-href="{{recruitDetailsPageUrl}}" ng-click="setRecruitmentType('L2')">{{translation.dealerRecruitment.secondary_nw_recruitment}}</a></li>
                </ul>
                <div class="login-box">                    
                    <span><p>{{translation.dealerRecruitment.login_msg}}</p> 
                    <a style="cursor:pointer;" ng-click="loginClicked()">{{translation.general.login}}</a>                     
                </div>
            </div>
        </div>
        <div id="recruit" class="recruit-reg"  ng-init="drawcaptcha()" >
            <div class="form">
                <h2>{{translation.dealerRecruitmentRegister.recRegistered}}</h2>
                <div class="line input-box">
                   <p>{{translation.dealerRecruitmentRegister.accountNumber}}</p>
                   <input type="tel" maxlength="11" placeholder={{translation.testDrive.PleaseEnterPhoneNumber}} id="tel" ng-model="recruitReg.account" ng-keypress="keypress()" >
                   <p class="warning">*{{translation.testDrive.PleaseEnterPhoneNumber}}</p>
                </div>
               <!--  <div class="line input-box">
                <p>{{translation.dealerRecruitmentRegister.Captcha}}</p>
                  <input type="text" placeholder="请输入验证码" id="captcha" ng-model="recruitReg.captcha" style="width: 32% !important;"/>
                       <input type="text" ng-model="txtCaptcha" maxlength="6" id="txtCaptcha"  style="position: absolute;width: 22% !important;font-size:25px; font-family : fantasy; color:blue; text-align :center; font-weight : bold; border:none; width: 25% bac;background-image: url('angularweb/assets/images/captcha.jpg');"  readonly/>
                       <a href="" id="genCaptcha" ng-click="drawcaptcha()" style="position: absolute; width: 32% !important;"> 刷新验证码 </a>    
                   </div> -->

			<div class="line input-box">
				<p>{{translation.dealerRecruitmentRegister.Captcha}}</p>
				<input type="text" placeholder="请输入验证码" id="captcha"
					class="ng-pristine ng-untouched ng-valid ng-empty"
					ng-model="recruitReg.captcha"
					style="width: 40% !important; float: left; margin-right: 10px;"
					ng-keypress="keypress()" />
				<div style="text-align: left;">
					<span ng-model="txtCaptcha" id="txtCaptcha"
						Style="align: left; font-family: fantasy; color: blue; text-align: center; font-weight: bold; font-size: x-large; border: none; background-image: url(angularweb/assets/images/captcha.jpg); position: relative;" />
					<a href="" id="genCaptcha" ng-click="drawcaptcha()"
						style="align: right; width: 10% !important;"> 刷新验证码 </a>
				</div>
			</div>

			<div class="line input-box code">
                   <p>{{translation.dealerRecruitmentRegister.codes}}</p>
                   <input type="text" placeholder={{translation.dealerRecruitmentRegister.pleaseEnterVerificationCode}} id="code" ng-model="recruitReg.verification_code" ng-keypress="keypress()" >
                   <a href="" ng-click="sendVerficationCode()" class="get-code" id="get-code" >{{translation.dealerRecruitmentRegister.getVerificationCode}}</a>
                   <p class="warning" id="codeExp">*{{translation.dealerRecruitmentRegister.verificationCodeError}}</p>
                </div>
                <div class="line input-box">
                   <p>{{translation.general.password}}</p>
                   <input type="password" placeholder={{translation.dealerRecruitmentRegister.pleaseEnterPassword}} id="password1" ng-model="recruitReg.password">
                   <p class="warning">*{{translation.dealerRecruitmentRegister.passwordLengthError}}</p> 
                </div>
                <div class="line input-box">
                   <p>{{translation.general.confirmPassword}}</p>
                   <input type="password" placeholder={{translation.dealerRecruitmentRegister.pleaseEnterPassword}} id="password2" ng-model="recruitReg.confirm_password">
                   <p class="warning">*{{translation.dealerRecruitmentRegister.passwordInconsistent}}</p>
                </div>
                <div class="line clause check-box23">
                   <span class="check"></span>
                   <p>{{translation.dealerRecruitmentRegister.readAgree}}<a href="javascript:;" class="btn-clause">“{{translation.dealerRecruitmentRegister.registrationAgreement}}”</a></p>
                </div>
                <a href="" ng-click="reg()" class="submit">{{translation.dealerRecruitmentRegister.recRegistered}}</a>                

            </div>
           
        </div>
        
        
    </div>

    <div class="popup" id="reg-ok">
        <div class="popup-content">
      
            <a href="javascript:;" ng-click="popupClose()" class="popup-close"></a>
            <div class="content-box"></div>
            <p>  Registered Successfully</p>
        </div>
    </div>

    <div class="popup" id="clause-content">
        <div class="popup-content">
            <a href="javascript:;" class="popup-close"></a>
            <div class="content-box" >
                <h3>{{translation.dealerRecruitmentRegister.registrationAgreement}}</h3>
                <p>{{translation.dealerRecruitmentRegister.recAgree1}}<br />
{{translation.dealerRecruitmentRegister.recAgree2}}</p>
            </div>
        </div>
    </div>
    <<script type="text/javascript">
   
 
       
        function ValidCaptcha(){
        var str1 = removeSpaces(document.getElementById('txtCaptcha').value);
        var str2 = removeSpaces(document.getElementById('captcha').value);
        if (str1 == str2)
        { return true;    
        }
        else
        {    
        return false;
        }
        
    }
</script>
<<style>
.disabledLink
{
color: #333;
text-decoration : none;
cursor: default;
}
</style>
  