<!--************ 主导航包含 start  ************--->
    <!-- 主导航 -->
    <div id="main_nav">
        <ul>
            <li class="logobox"><a href="http://vw.faw-vw.com/"><img src="images/Logo_new.png" width="60" height="79"></a></li>
            <li>
                <a href="http://vw.faw-vw.com/">
                    <div class="nav_size lefticon icon-car"></div>
                    <span>{{translation.general.OverviewOfModels}}</span>
                </a>
            </li>
            <li>
                <a href="http://ibuy.faw-vw.com/Official/">
                    <div class="nav_size lefticon icon-findadealer"></div>
                    <span>{{translation.general.PeopleLookForTheCar}}</span>
                </a>
            </li>
            <li>
                <a href="http://ibuy.faw-vw.com/Official/">
                    <div class="nav_size lefticon icon-importer"></div>
                    <span>{{translation.general.VolkswagenBrand}}</span>
                </a>
            </li>
            <li>
                <a href="http://vw.faw-vw.com/newmagotanmycar">
                    <div class="nav_size lefticon icon-dealer" ></div>
                    <span>{{translation.general.CentreOwners}}</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="nav_size lefticon icon-more"></div>
                    <span>{{translation.general.More}}</span>
                </a>
            </li>

        </ul>
    </div>
    <!-- 手机顶部logo及导航三线按钮 -->
    <div id="mobile_nav">
        <div class="logobox"><img src="images/Logo_new.png"></div>
        <div class="burger_menu">
            <div class="burger_line"></div>
            <div class="burger_line"></div>
            <div class="burger_line"></div>
        </div>
    </div>
    <!-- 主导航 更多内容 移动端主导航内容 -->
    <div id="main_nav_more" data-count="1">
        <div class="mobile_nav_shadow"></div>
        <div class="desktop-searchbox">
            <div class="fancy-input">
                <span class="vwicon icon-searchglass"></span>
                <div class="input-wrapper-search">
                    <input type="text" value="search" name="searchtxt" class="searchformtext" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <ul>
            <li>
                <a href="http://vw.faw-vw.com/">
                    <div class="nav_size vwicon icon-car"></div>
                    <span>{{translation.general.OverviewOfModels}}</span>
                </a>
            </li>
            <li>
                <a href="http://ibuy.faw-vw.com/Official/">
                    <div class="nav_size vwicon icon-findadealer"></div>
                    <span>{{translation.general.PeopleLookForTheCar}}</span>
                </a>
            </li>
            <li>
                <a href="http://ibuy.faw-vw.com/Official/">
                    <div class="nav_size vwicon icon-importer"></div>
                    <span>{{translation.general.VolkswagenBrand}}</span>
                </a>
            </li>
            <li>
                <a href="http://vw.faw-vw.com/newmagotanmycar">
                    <div class="nav_size vwicon icon-dealer" ></div>
                    <span>{{translation.general.CentreOwners}}</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="nav_size vwicon icon-more"></div>
                    <span>{{translation.general.More}}</span>
                </a>
            </li>
        </ul>
        <!--<div style="width: 100%; background-color: #B6BDD2; height: 50px;"></div>-->
    </div>
<!--************ 主导航包含 end  ************--->

    <!-- 主体内容 -->
    <div class="container-fluid mainbody">
        <div class="mask"></div>
        <div class="top_link">
            <div class="container-fluid toolsbox">
                <ul class="nav navbar-nav navbar-left">
                    <li class="car_name">{{translation.dealerRecruitmentRegister.dealerRecruitment}}</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="toolslink">
                        <a href="http://vw.faw-vw.com/newmagotanorder">
                            <div><span class="icon-testdrive"></span></div>
                            <span class="atext">{{translation.general.ArrangeATestDrive}}</span>
                        </a>
                    </li>
                    <li class="toolslink">
                        <a href="http://vw.faw-vw.com/newmagotanmydealer">
                            <div><span class="icon-searchdealer"></span></div>
                            <span class="atext">{{translation.general.DealerLocator}}</span>
                        </a>
                    </li>
                    <li class="toolslink">
                        <a href="http://kf02.faw-vw-dns.com/new/client.php?arg=faw-vw&style=1">
                            <div><span class="icon-support"></span></div>
                            <span class="atext">{{translation.general.OnlineService}}</span>
                        </a>

                    </li>
                </ul>
            </div>
            <div class="sub_nav" id="navbar-carinfo">
                <ul class="nav nav-pills">
                    <li><a href="#page01">{{translation.dealerRecruitment.recruitment_home}}</a></li>
                    <li class="active"><a href="#">{{translation.dealerRecruitRestPwd.resetPassword}}</a></li>
                </ul>
                <div class="login-box">
                    <p>{{translation.dealerRecruitmentRegister.recLoginStatus}} </p>
                    <a href="#">{{translation.dealerRecruitmentRegister.recLogin}}</a> | 
                    <a href="#">{{translation.dealerRecruitmentRegister.recRegistered}}</a>
                </div>
            </div>
        </div>

        <!-- 自定义内容开始 -->
        <div id="recruit" class="reset_pwd">
            <div class="content">
                <h2>{{translation.dealerRecruitRestPwd.resetPassword}}</h2>
                <div class="clear"></div>
                <div class="line input-box">
                    <p>{{translation.dealerRecruitRestPwd.newPassword}}</p>
                    <input type="password" id="pwd1" placeholder={{translation.dealerRecruitRestPwd.newPasswordWarning}}>
                    <p class="warning">*{{translation.dealerRecruitRestPwd.passwordLength}}</p>
                </div>
                <div class="line input-box">
                    <p>{{translation.general.confirmPassword}}</p>
                    <input type="password" id="pwd2" placeholder={{translation.dealerRecruitRestPwd.againEnterNewPass}}>
                    <p class="warning">*{{translation.dealerRecruitRestPwd.passwordMismatch}}</p>
                </div>
                <a href="javascript:;" class="btn-submit">{{translation.testDrive.Submit}}</a>
            </div>
        </div>
        
        <!-- 自定义内容结束 -->
        
    </div>
    <div class="popup" id="resetPwd-ok">
        <div class="popup-content">
            <a href="javascript:;" class="popup-close"></a>
            <div class="content-box">
                
            </div>
        </div>
    </div>